{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "area120tables:v1alpha1",
  "name": "area120tables",
  "canonicalName": "Area120 Tables",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "revision": "20230130",
  "title": "Area120 Tables API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://support.google.com/area120-tables/answer/10011390",
  "protocol": "rest",
  "baseUrl": "https://area120tables.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://area120tables.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/tables": {
          "description": "See, edit, create, and delete your tables in Tables by Area 120"
        }
      }
    }
  },
  "schemas": {
    "BatchCreateRowsRequest": {
      "id": "BatchCreateRowsRequest",
      "description": "Request message for TablesService.BatchCreateRows.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the rows to create. A maximum of 500 rows can be created in a single batch.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "CreateRowRequest"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BatchCreateRowsResponse": {
      "id": "BatchCreateRowsResponse",
      "description": "Response message for TablesService.BatchCreateRows.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "rows": {
          "description": "The created rows.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Row"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BatchDeleteRowsRequest": {
      "id": "BatchDeleteRowsRequest",
      "description": "Request message for TablesService.BatchDeleteRows",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "names": {
          "description": "Required. The names of the rows to delete. All rows must belong to the parent table or else the entire batch will fail. A maximum of 500 rows can be deleted in a batch. Format: tables/{table}/rows/{row}",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BatchUpdateRowsRequest": {
      "id": "BatchUpdateRowsRequest",
      "description": "Request message for TablesService.BatchUpdateRows.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "requests": {
          "description": "Required. The request messages specifying the rows to update. A maximum of 500 rows can be modified in a single batch.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "UpdateRowRequest"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "BatchUpdateRowsResponse": {
      "id": "BatchUpdateRowsResponse",
      "description": "Response message for TablesService.BatchUpdateRows.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "rows": {
          "description": "The updated rows.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Row"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ColumnDescription": {
      "id": "ColumnDescription",
      "description": "Details on a column in the table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dataType": {
          "description": "Data type of the column Supported types are auto_id, boolean, boolean_list, creator, create_timestamp, date, dropdown, location, integer, integer_list, number, number_list, person, person_list, tags, check_list, text, text_list, update_timestamp, updater, relationship, file_attachment_list. These types directly map to the column types supported on Tables website.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dateDetails": {
          "description": "Optional. Additional details about a date column.",
          "$ref": "DateDetails"
        },
        "id": {
          "description": "Internal id for a column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labels": {
          "description": "Optional. Range of labeled values for the column. Some columns like tags and drop-downs limit the values to a set of possible values. We return the range of values in such cases to help clients implement better user data validation.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "LabeledItem"
          }
        },
        "lookupDetails": {
          "description": "Optional. Indicates that this is a lookup column whose value is derived from the relationship column specified in the details. Lookup columns can not be updated directly. To change the value you must update the associated relationship column.",
          "$ref": "LookupDetails"
        },
        "multipleValuesDisallowed": {
          "description": "Optional. Indicates whether or not multiple values are allowed for array types where such a restriction is possible.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "column name",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "readonly": {
          "description": "Optional. Indicates that values for the column cannot be set by the user.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "relationshipDetails": {
          "description": "Optional. Additional details about a relationship column. Specified when data_type is relationship.",
          "$ref": "RelationshipDetails"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CreateRowRequest": {
      "id": "CreateRowRequest",
      "description": "Request message for TablesService.CreateRow.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "parent": {
          "description": "Required. The parent table where this row will be created. Format: tables/{table}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "row": {
          "description": "Required. The row to create.",
          "$ref": "Row"
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "format": null,
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "DateDetails": {
      "id": "DateDetails",
      "description": "Details about a date column.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "hasTime": {
          "description": "Whether the date column includes time.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "LabeledItem": {
      "id": "LabeledItem",
      "description": "A single item in a labeled column.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Internal id associated with the item.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Display string as entered by user.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListRowsResponse": {
      "id": "ListRowsResponse",
      "description": "Response message for TablesService.ListRows.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "rows": {
          "description": "The rows from the specified table.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Row"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "description": "Response message for TablesService.ListTables.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tables": {
          "description": "The list of tables.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Table"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "description": "Response message for TablesService.ListWorkspaces.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "workspaces": {
          "description": "The list of workspaces.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Workspace"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "LookupDetails": {
      "id": "LookupDetails",
      "description": "Details about a lookup column whose value comes from the associated relationship.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "relationshipColumn": {
          "description": "The name of the relationship column associated with the lookup.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "relationshipColumnId": {
          "description": "The id of the relationship column.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "RelationshipDetails": {
      "id": "RelationshipDetails",
      "description": "Details about a relationship column.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "linkedTable": {
          "description": "The name of the table this relationship is linked to.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Row": {
      "id": "Row",
      "description": "A single row in a table.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Time when the row was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateTime": {
          "description": "Time when the row was last updated.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "values": {
          "description": "The values of the row. This is a map of column key to value. Key is user entered name(default) or the internal column id based on the view in the request.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": null,
            "type": "any",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedView": {
      "id": "SavedView",
      "description": "A saved view of a table. NextId: 3",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Internal id associated with the saved view.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Display name of the saved view.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Table": {
      "id": "Table",
      "description": "A single table. NextId: 8",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "columns": {
          "description": "List of columns in this table. Order of columns matches the display order.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "ColumnDescription"
          }
        },
        "createTime": {
          "description": "Time when the table was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "The human readable title of the table.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The resource name of the table. Table names have the form `tables/{table}`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "savedViews": {
          "description": "Saved views for this table.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "SavedView"
          }
        },
        "timeZone": {
          "description": "The time zone of the table. IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateTime": {
          "description": "Time when the table was last updated excluding updates to individual rows",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UpdateRowRequest": {
      "id": "UpdateRowRequest",
      "description": "Request message for TablesService.UpdateRow.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "row": {
          "description": "Required. The row to update.",
          "$ref": "Row"
        },
        "updateMask": {
          "description": "The list of fields to update.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "view": {
          "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
          "type": "string",
          "format": null,
          "enum": [
            "VIEW_UNSPECIFIED",
            "COLUMN_ID_VIEW"
          ],
          "enumDescriptions": [
            "Defaults to user entered text.",
            "Uses internally generated column id to identify values."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Workspace": {
      "id": "Workspace",
      "description": "A single workspace.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Time when the workspace was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "The human readable title of the workspace.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "The resource name of the workspace. Workspace names have the form `workspaces/{workspace}`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tables": {
          "description": "The list of tables in the workspace.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Table"
          }
        },
        "updateTime": {
          "description": "Time when the workspace was last updated.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "tables": {
      "resources": {
        "rows": {
          "resources": {},
          "methods": {
            "batchCreate": {
              "id": "area120tables.tables.rows.batchCreate",
              "path": "v1alpha1/{+parent}/rows:batchCreate",
              "httpMethod": "POST",
              "description": "Creates multiple rows.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where the rows will be created. Format: tables/{table}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreateRowsRequest"
              },
              "response": {
                "$ref": "BatchCreateRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "batchDelete": {
              "id": "area120tables.tables.rows.batchDelete",
              "path": "v1alpha1/{+parent}/rows:batchDelete",
              "httpMethod": "POST",
              "description": "Deletes multiple rows.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being deleted. Format: tables/{table}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeleteRowsRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "batchUpdate": {
              "id": "area120tables.tables.rows.batchUpdate",
              "path": "v1alpha1/{+parent}/rows:batchUpdate",
              "httpMethod": "POST",
              "description": "Updates multiple rows.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table shared by all rows being updated. Format: tables/{table}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchUpdateRowsRequest"
              },
              "response": {
                "$ref": "BatchUpdateRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "create": {
              "id": "area120tables.tables.rows.create",
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "POST",
              "description": "Creates a row.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent table where this row will be created. Format: tables/{table}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "delete": {
              "id": "area120tables.tables.rows.delete",
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a row.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to delete. Format: tables/{table}/rows/{row}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "get": {
              "id": "area120tables.tables.rows.get",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a row. Returns NOT_FOUND if the row does not exist in the table.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the row to retrieve. Format: tables/{table}/rows/{row}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "area120tables.tables.rows.list",
              "path": "v1alpha1/{+parent}/rows",
              "httpMethod": "GET",
              "description": "Lists rows in a table. Returns NOT_FOUND if the table does not exist.",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter to only include resources matching the requirements. For more information, see [Filtering list results](https://support.google.com/area120-tables/answer/10503371).",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "orderBy": {
                  "description": "Optional. Sorting order for the list of rows on createTime/updateTime.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageSize": {
                  "description": "The maximum number of rows to return. The service may return fewer than this value. If unspecified, at most 50 rows are returned. The maximum value is 1,000; values above 1,000 are coerced to 1,000.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListRows` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRows` must match the call that provided the page token.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. The parent table. Format: tables/{table}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "ListRowsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "patch": {
              "id": "area120tables.tables.rows.patch",
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a row.",
              "parameters": {
                "name": {
                  "description": "The resource name of the row. Row names have the form `tables/{table}/rows/{row}`. The name is ignored when creating a row.",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^tables/[^/]+/rows/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "updateMask": {
                  "description": "The list of fields to update.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": "google-fieldmask",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "view": {
                  "description": "Optional. Column key to use for values in the row. Defaults to user entered name.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [
                    "VIEW_UNSPECIFIED",
                    "COLUMN_ID_VIEW"
                  ],
                  "enumDescriptions": [
                    "Defaults to user entered text.",
                    "Uses internally generated column id to identify values."
                  ],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Row"
              },
              "response": {
                "$ref": "Row"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/tables"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "area120tables.tables.get",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "description": "Gets a table. Returns NOT_FOUND if the table does not exist.",
          "parameters": {
            "name": {
              "description": "Required. The name of the table to retrieve. Format: tables/{table}",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "^tables/[^/]+$",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": null,
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "area120tables.tables.list",
          "path": "v1alpha1/tables",
          "httpMethod": "GET",
          "description": "Lists tables for the user.",
          "parameters": {
            "orderBy": {
              "description": "Optional. Sorting order for the list of tables on createTime/updateTime.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageSize": {
              "description": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 20 tables are returned. The maximum value is 100; values above 100 are coerced to 100.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [],
          "request": null,
          "response": {
            "$ref": "ListTablesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    },
    "workspaces": {
      "resources": {},
      "methods": {
        "get": {
          "id": "area120tables.workspaces.get",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "description": "Gets a workspace. Returns NOT_FOUND if the workspace does not exist.",
          "parameters": {
            "name": {
              "description": "Required. The name of the workspace to retrieve. Format: workspaces/{workspace}",
              "default": null,
              "location": "path",
              "required": true,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": "^workspaces/[^/]+$",
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": null,
          "response": {
            "$ref": "Workspace"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        },
        "list": {
          "id": "area120tables.workspaces.list",
          "path": "v1alpha1/workspaces",
          "httpMethod": "GET",
          "description": "Lists workspaces for the user.",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of workspaces to return. The service may return fewer than this value. If unspecified, at most 10 workspaces are returned. The maximum value is 25; values above 25 are coerced to 25.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "integer",
              "format": "int32",
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
              "default": null,
              "location": "query",
              "required": false,
              "type": "string",
              "format": null,
              "minimum": null,
              "maximum": null,
              "pattern": null,
              "enum": [],
              "enumDescriptions": [],
              "repeated": false
            }
          },
          "parameterOrder": [],
          "request": null,
          "response": {
            "$ref": "ListWorkspacesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly",
            "https://www.googleapis.com/auth/tables"
          ],
          "supportsMediaDownload": false,
          "useMediaDownloadService": false,
          "supportsSubscription": false,
          "supportsMediaUpload": false,
          "mediaUpload": null
        }
      }
    }
  },
  "methods": {}
}