{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "datalabeling:v1beta1",
  "name": "datalabeling",
  "canonicalName": "Data Labeling",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta1",
  "revision": "20221205",
  "title": "Data Labeling API",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "protocol": "rest",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata",
      "description": "Metadata of a CreateInstruction operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Timestamp when create instruction request was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "instruction": {
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "partialFailures": {
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata",
      "description": "Metadata of an ExportData operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "createTime": {
          "description": "Output only. Timestamp when export dataset request was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dataset": {
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse",
      "description": "Response used for ExportDataset longrunning operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "exportCount": {
          "description": "Output only. Number of examples exported successfully.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelStats"
        },
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1OutputConfig"
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to export",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1GcsDestination": {
      "id": "GoogleCloudDatalabelingV1alpha1GcsDestination",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "mimeType": {
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1GcsFolderDestination": {
      "id": "GoogleCloudDatalabelingV1alpha1GcsFolderDestination",
      "description": "Export folder destination of the data.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "outputFolderUri": {
          "description": "Required. Cloud Storage directory to export data to.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig": {
      "id": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
      "description": "Configuration for how human labeling task should be done.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contributorEmails": {
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "languageCode": {
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "type": "string",
          "format": "google-duration",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "replicaCount": {
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata",
      "description": "Metadata of an ImportData operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when import dataset request was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationResponse",
      "description": "Response used for ImportData longrunning operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "importCount": {
          "description": "Output only. Number of examples imported successfully.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to import",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata",
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata",
      "description": "Metadata of a LabelImageClassification operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata",
      "description": "Details of LabelImagePolyline operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata",
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "createTime": {
          "description": "Output only. Timestamp when labeling request was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dataset": {
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "imageBoundingBoxDetails": {
          "description": "Details of label image bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata"
        },
        "imageBoundingPolyDetails": {
          "description": "Details of label image bounding poly operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata"
        },
        "imageClassificationDetails": {
          "description": "Details of label image classification operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata"
        },
        "imageOrientedBoundingBoxDetails": {
          "description": "Details of label image oriented bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata"
        },
        "imagePolylineDetails": {
          "description": "Details of label image polyline operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata"
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata"
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "progressPercent": {
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "textClassificationDetails": {
          "description": "Details of label text classification operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata"
        },
        "textEntityExtractionDetails": {
          "description": "Details of label text entity extraction operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata"
        },
        "videoClassificationDetails": {
          "description": "Details of label video classification operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata"
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata"
        },
        "videoObjectDetectionDetails": {
          "description": "Details of label video object detection operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata"
        },
        "videoObjectTrackingDetails": {
          "description": "Details of label video object tracking operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelStats": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelStats",
      "description": "Statistics about annotation specs.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "exampleCount": {
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations.",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": null,
            "type": "string",
            "format": "int64",
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
      "description": "Details of a LabelTextClassification operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata",
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata",
      "description": "Details of a LabelVideoClassification operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata",
      "description": "Details of a LabelVideoEvent operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata",
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1alpha1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1alpha1OutputConfig",
      "description": "The configuration of output data.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1GcsDestination"
        },
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1alpha1GcsFolderDestination"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDataset": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDataset",
      "description": "AnnotatedDataset is a set holding annotations for data in a Dataset. Each labeling task will generate an AnnotatedDataset under the Dataset that the task is requested for.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSource": {
          "description": "Output only. Source of the annotation.",
          "type": "string",
          "format": null,
          "enum": [
            "ANNOTATION_SOURCE_UNSPECIFIED",
            "OPERATOR"
          ],
          "enumDescriptions": [
            "",
            "Answer is provided by a human contributor."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotationType": {
          "description": "Output only. Type of the annotation. It is specified when starting labeling task.",
          "type": "string",
          "format": null,
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "blockingResources": {
          "description": "Output only. The names of any related resources that are blocking changes to the annotated dataset.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "completedExampleCount": {
          "description": "Output only. Number of examples that have annotation in the annotated dataset.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "createTime": {
          "description": "Output only. Time the AnnotatedDataset was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Output only. The description of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 10000 characters.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Output only. The display name of the AnnotatedDataset. It is specified in HumanAnnotationConfig when user starts a labeling task. Maximum of 64 characters.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "exampleCount": {
          "description": "Output only. Number of examples in the annotated dataset.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labelStats": {
          "description": "Output only. Per label statistics.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelStats"
        },
        "metadata": {
          "description": "Output only. Additional information about AnnotatedDataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata"
        },
        "name": {
          "description": "Output only. AnnotatedDataset resource name in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
      "description": "Metadata on AnnotatedDataset.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "boundingPolyConfig": {
          "description": "Configuration for image bounding box and bounding poly task.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
        },
        "eventConfig": {
          "description": "Configuration for video event labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig"
        },
        "humanAnnotationConfig": {
          "description": "HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "imageClassificationConfig": {
          "description": "Configuration for image classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        },
        "objectDetectionConfig": {
          "description": "Configuration for video object detection task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig"
        },
        "objectTrackingConfig": {
          "description": "Configuration for video object tracking task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
        },
        "polylineConfig": {
          "description": "Configuration for image polyline task.",
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig"
        },
        "segmentationConfig": {
          "description": "Configuration for image segmentation task.",
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig"
        },
        "textClassificationConfig": {
          "description": "Configuration for text classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        },
        "textEntityExtractionConfig": {
          "description": "Configuration for text entity extraction task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
        },
        "videoClassificationConfig": {
          "description": "Configuration for video classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1Annotation": {
      "id": "GoogleCloudDatalabelingV1beta1Annotation",
      "description": "Annotation for Example. Each example may have one or more annotations. For example in image classification problem, each image might have one or more labels. We call labels binded with this image an Annotation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationMetadata": {
          "description": "Output only. Annotation metadata, including information like votes for labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationMetadata"
        },
        "annotationSentiment": {
          "description": "Output only. Sentiment for this annotation.",
          "type": "string",
          "format": null,
          "enum": [
            "ANNOTATION_SENTIMENT_UNSPECIFIED",
            "NEGATIVE",
            "POSITIVE"
          ],
          "enumDescriptions": [
            "",
            "This annotation describes negatively about the data.",
            "This label describes positively about the data."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotationSource": {
          "description": "Output only. The source of the annotation.",
          "type": "string",
          "format": null,
          "enum": [
            "ANNOTATION_SOURCE_UNSPECIFIED",
            "OPERATOR"
          ],
          "enumDescriptions": [
            "",
            "Answer is provided by a human contributor."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotationValue": {
          "description": "Output only. This is the actual annotation value, e.g classification, bounding box values are stored here.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationValue"
        },
        "name": {
          "description": "Output only. Unique name of this annotation, format is: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset}/examples/{example_id}/annotations/{annotation_id}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationMetadata",
      "description": "Additional information associated with the annotation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "operatorMetadata": {
          "description": "Metadata related to human labeling.",
          "$ref": "GoogleCloudDatalabelingV1beta1OperatorMetadata"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpec": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
      "description": "Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Required. The display name of the AnnotationSpec. Maximum of 64 characters.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "index": {
          "description": "Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: \"dog\", index: 0 }` and one AnnotationSpec with `{ display_name: \"cat\", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpecSet": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet",
      "description": "An AnnotationSpecSet is a collection of label definitions. For example, in image classification tasks, you define a set of possible labels for images as an AnnotationSpecSet. An AnnotationSpecSet is immutable upon creation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSpecs": {
          "description": "Required. The array of AnnotationSpecs that you define when you create the AnnotationSpecSet. These are the possible labels for the labeling task.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
          }
        },
        "blockingResources": {
          "description": "Output only. The names of any related resources that are blocking changes to the annotation spec set.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "description": {
          "description": "Optional. User-provided description of the annotation specification set. The description can be up to 10,000 characters long.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Required. The display name for AnnotationSpecSet that you define when you create it. Maximum of 64 characters.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. The AnnotationSpecSet resource name in the following format: \"projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig",
      "description": "Annotation spec set with the setting of allowing multi labels or not.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels from one annotation spec set.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1AnnotationValue": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationValue",
      "description": "Annotation value for an example.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "imageBoundingPolyAnnotation": {
          "description": "Annotation value for image bounding box, oriented bounding box and polygon cases.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation"
        },
        "imageClassificationAnnotation": {
          "description": "Annotation value for image classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation"
        },
        "imagePolylineAnnotation": {
          "description": "Annotation value for image polyline cases. Polyline here is different from BoundingPoly. It is formed by line segments connected to each other but not closed form(Bounding Poly). The line segments can cross each other.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation"
        },
        "imageSegmentationAnnotation": {
          "description": "Annotation value for image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation"
        },
        "textClassificationAnnotation": {
          "description": "Annotation value for text classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation"
        },
        "textEntityExtractionAnnotation": {
          "description": "Annotation value for text entity extraction case.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation"
        },
        "videoClassificationAnnotation": {
          "description": "Annotation value for video classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation"
        },
        "videoEventAnnotation": {
          "description": "Annotation value for video event case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoEventAnnotation"
        },
        "videoObjectTrackingAnnotation": {
          "description": "Annotation value for video object detection and tracking case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1Attempt": {
      "id": "GoogleCloudDatalabelingV1beta1Attempt",
      "description": "Records a failed evaluation job run.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "attemptTime": {
          "description": null,
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "partialFailures": {
          "description": "Details of errors that occurred.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1BigQuerySource": {
      "id": "GoogleCloudDatalabelingV1beta1BigQuerySource",
      "description": "The BigQuery location for input data. If used in an EvaluationJob, this is where the service saves the prediction input and output sampled from the model version.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "inputUri": {
          "description": "Required. BigQuery URI to a table, up to 2,000 characters long. If you specify the URI of a table that does not exist, Data Labeling Service creates a table at the URI with the correct schema when you create your EvaluationJob. If you specify the URI of a table that already exists, it must have the [correct schema](/ml-engine/docs/continuous-evaluation/create-job#table-schema). Provide the table URI in the following format: \"bq://{your_project_id}/ {your_dataset_name}/{your_table_name}\" [Learn more](/ml-engine/docs/continuous-evaluation/create-job#table-schema).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions": {
      "id": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
      "description": "Options regarding evaluation between bounding boxes.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "iouThreshold": {
          "description": "Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1BoundingPoly": {
      "id": "GoogleCloudDatalabelingV1beta1BoundingPoly",
      "description": "A bounding polygon in the image.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "vertices": {
          "description": "The bounding polygon vertices.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1BoundingPolyConfig": {
      "id": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
      "description": "Config for image bounding poly (and bounding box) human labeling task.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "instructionMessage": {
          "description": "Optional. Instruction message showed on contributors UI.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1ClassificationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1ClassificationMetadata",
      "description": "Metadata for classification annotations.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "isMultiLabel": {
          "description": "Whether the classification task is multi-label or not.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1ClassificationMetrics": {
      "id": "GoogleCloudDatalabelingV1beta1ClassificationMetrics",
      "description": "Metrics calculated for a classification model.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix of predicted labels vs. ground truth labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrix"
        },
        "prCurve": {
          "description": "Precision-recall curve based on ground truth labels, predicted labels, and scores for the predicted labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1PrCurve"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry": {
      "id": "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "confidenceThreshold": {
          "description": "Threshold used for this entry. For classification tasks, this is a classification threshold: a predicted label is categorized as positive or negative (in the context of this point on the PR curve) based on whether the label's score meets this threshold. For image object detection (bounding box) tasks, this is the [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) threshold for the context of this point on the PR curve.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "f1Score": {
          "description": "Harmonic mean of recall and precision.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "f1ScoreAt1": {
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "f1ScoreAt5": {
          "description": "The harmonic mean of recall_at5 and precision_at5.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "precision": {
          "description": "Precision value.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "precisionAt1": {
          "description": "Precision value for entries with label that has highest score.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "precisionAt5": {
          "description": "Precision value for entries with label that has highest 5 scores.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "recall": {
          "description": "Recall value.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "recallAt1": {
          "description": "Recall value for entries with label that has highest score.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "recallAt5": {
          "description": "Recall value for entries with label that has highest 5 scores.",
          "type": "number",
          "format": "float",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrix": {
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrix",
      "description": "Confusion matrix of the model running the classification. Only applicable when the metrics entry aggregates multiple labels. Not applicable when the entry is for a single label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "row": {
          "description": null,
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Row"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSpec": {
          "description": "The annotation spec of a predicted label.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "itemCount": {
          "description": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest": {
      "id": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest",
      "description": "Request message for CreateAnnotationSpecSet.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Annotation spec set to create. Annotation specs must be included. Only one annotation spec will be accepted for annotation specs with same display_name.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1CreateDatasetRequest": {
      "id": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest",
      "description": "Request message for CreateDataset.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dataset": {
          "description": "Required. The dataset to be created.",
          "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest": {
      "id": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest",
      "description": "Request message for CreateEvaluationJob.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "job": {
          "description": "Required. The evaluation job to create.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1CreateInstructionMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionMetadata",
      "description": "Metadata of a CreateInstruction operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Timestamp when create instruction request was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "instruction": {
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "partialFailures": {
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1CreateInstructionRequest": {
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest",
      "description": "Request message for CreateInstruction.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "instruction": {
          "description": "Required. Instruction of how to perform the labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1CsvInstruction": {
      "id": "GoogleCloudDatalabelingV1beta1CsvInstruction",
      "description": "Deprecated: this instruction format is not supported any more. Instruction from a CSV file.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "gcsFileUri": {
          "description": "CSV file for the instruction. Only gcs path is allowed.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1DataItem": {
      "id": "GoogleCloudDatalabelingV1beta1DataItem",
      "description": "DataItem is a piece of data, without annotation. For example, an image.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "imagePayload": {
          "description": "The image payload, a container of the image bytes/uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload"
        },
        "name": {
          "description": "Output only. Name of the data item, in format of: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "textPayload": {
          "description": "The text payload, a container of text content.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload"
        },
        "videoPayload": {
          "description": "The video payload, a container of the video uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1Dataset": {
      "id": "GoogleCloudDatalabelingV1beta1Dataset",
      "description": "Dataset is the resource to hold your data. You can request multiple labeling tasks for a dataset while each one will generate an AnnotatedDataset.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blockingResources": {
          "description": "Output only. The names of any related resources that are blocking changes to the dataset.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "createTime": {
          "description": "Output only. Time the dataset is created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dataItemCount": {
          "description": "Output only. The number of data items in the dataset.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Optional. User-provided description of the annotation specification set. The description can be up to 10000 characters long.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Required. The display name of the dataset. Maximum of 64 characters.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inputConfigs": {
          "description": "Output only. This is populated with the original input configs where ImportData is called. It is available only after the clients import data to this dataset.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1InputConfig"
          }
        },
        "lastMigrateTime": {
          "description": "Last time that the Dataset is migrated to AI Platform V2. If any of the AnnotatedDataset is migrated, the last_migration_time in Dataset is also updated.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Dataset resource name, format is: projects/{project_id}/datasets/{dataset_id}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1Evaluation": {
      "id": "GoogleCloudDatalabelingV1beta1Evaluation",
      "description": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationType": {
          "description": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation.",
          "type": "string",
          "format": null,
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "config": {
          "description": "Output only. Options used in the evaluation job that created this evaluation.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
        },
        "createTime": {
          "description": "Output only. Timestamp for when this evaluation was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "evaluatedItemCount": {
          "description": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "evaluationJobRunTime": {
          "description": "Output only. Timestamp for when the evaluation job that created this evaluation ran.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "evaluationMetrics": {
          "description": "Output only. Metrics comparing predictions to ground truth labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationMetrics"
        },
        "name": {
          "description": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
      "description": "Configuration details used for calculating evaluation metrics and creating an Evaluation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "boundingBoxEvaluationOptions": {
          "description": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJob": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJob",
      "description": "Defines an evaluation job that runs periodically to generate Evaluations. [Creating an evaluation job](/ml-engine/docs/continuous-evaluation/create-job) is the starting point for using continuous evaluation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Name of the AnnotationSpecSet describing all the labels that your machine learning model outputs. You must create this resource before you create an evaluation job and provide its name in the following format: \"projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "attempts": {
          "description": "Output only. Every time the evaluation job runs and an error occurs, the failed attempt is appended to this array.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Attempt"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp of when this evaluation job was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "description": {
          "description": "Required. Description of the job. The description can be up to 25,000 characters long.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "evaluationJobConfig": {
          "description": "Required. Configuration details for the evaluation job.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig"
        },
        "labelMissingGroundTruth": {
          "description": "Required. Whether you want Data Labeling Service to provide ground truth labels for prediction input. If you want the service to assign human labelers to annotate your data, set this to `true`. If you want to provide your own ground truth labels in the evaluation job's BigQuery table, set this to `false`.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "modelVersion": {
          "description": "Required. The [AI Platform Prediction model version](/ml-engine/docs/prediction-overview) to be evaluated. Prediction input and output is sampled from this model version. When creating an evaluation job, specify the model version in the following format: \"projects/{project_id}/models/{model_name}/versions/{version_name}\" There can only be one evaluation job per model version.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schedule": {
          "description": "Required. Describes the interval at which the job runs. This interval must be at least 1 day, and it is rounded to the nearest day. For example, if you specify a 50-hour interval, the job runs every 2 days. You can provide the schedule in [crontab format](/scheduler/docs/configuring/cron-job-schedules) or in an [English-like format](/appengine/docs/standard/python/config/cronref#schedule_format). Regardless of what you specify, the job will run at 10:00 AM UTC. Only the interval from this schedule is used, not the specific time of day.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Output only. Describes the current state of the job.",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "RUNNING",
            "PAUSED",
            "STOPPED"
          ],
          "enumDescriptions": [
            "",
            "The job is scheduled to run at the configured interval. You can pause or delete the job. When the job is in this state, it samples prediction input and output from your model version into your BigQuery table as predictions occur.",
            "The job is currently running. When the job runs, Data Labeling Service does several things: 1. If you have configured your job to use Data Labeling Service for ground truth labeling, the service creates a Dataset and a labeling task for all data sampled since the last time the job ran. Human labelers provide ground truth labels for your data. Human labeling may take hours, or even days, depending on how much data has been sampled. The job remains in the `RUNNING` state during this time, and it can even be running multiple times in parallel if it gets triggered again (for example 24 hours later) before the earlier run has completed. When human labelers have finished labeling the data, the next step occurs. If you have configured your job to provide your own ground truth labels, Data Labeling Service still creates a Dataset for newly sampled data, but it expects that you have already added ground truth labels to the BigQuery table by this time. The next step occurs immediately. 2. Data Labeling Service creates an Evaluation by comparing your model version's predictions with the ground truth labels. If the job remains in this state for a long time, it continues to sample prediction data into your BigQuery table and will run again at the next interval, even if it causes the job to run multiple times in parallel.",
            "The job is not sampling prediction input and output into your BigQuery table and it will not run according to its schedule. You can resume the job.",
            "The job has this state right before it is deleted."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig",
      "description": "Provides details for how an evaluation job sends email alerts based on the results of a run.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "email": {
          "description": "Required. An email address to send alerts to.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minAcceptableMeanAveragePrecision": {
          "description": "Required. A number between 0 and 1 that describes a minimum mean average precision threshold. When the evaluation job runs, if it calculates that your model version's predictions from the recent interval have meanAveragePrecision below this threshold, then it sends an alert to your specified email.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobConfig": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig",
      "description": "Configures specific details of how a continuous evaluation job works. Provide this configuration when you create an EvaluationJob.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "bigqueryImportKeys": {
          "description": "Required. Prediction keys that tell Data Labeling Service where to find the data for evaluation in your BigQuery table. When the service samples prediction input and output from your model version and saves it to BigQuery, the data gets stored as JSON strings in the BigQuery table. These keys tell Data Labeling Service how to parse the JSON. You can provide the following entries in this field: * `data_json_key`: the data key for prediction input. You must provide either this key or `reference_json_key`. * `reference_json_key`: the data reference key for prediction input. You must provide either this key or `data_json_key`. * `label_json_key`: the label key for prediction output. Required. * `label_score_json_key`: the score key for prediction output. Required. * `bounding_box_json_key`: the bounding box key for prediction output. Required if your model version perform image object detection. Learn [how to configure prediction keys](/ml-engine/docs/continuous-evaluation/create-job#prediction-keys).",
          "type": "object",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": {
            "description": null,
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          },
          "items": null
        },
        "boundingPolyConfig": {
          "description": "Specify this field if your model version performs image object detection (bounding box detection). `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
        },
        "evaluationConfig": {
          "description": "Required. Details for calculating evaluation metrics and creating Evaulations. If your model version performs image object detection, you must specify the `boundingBoxEvaluationOptions` field within this configuration. Otherwise, provide an empty object for this configuration.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
        },
        "evaluationJobAlertConfig": {
          "description": "Optional. Configuration details for evaluation job alerts. Specify this field if you want to receive email alerts if the evaluation job finds that your predictions have low mean average precision during a run.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig"
        },
        "exampleCount": {
          "description": "Required. The maximum number of predictions to sample and save to BigQuery during each evaluation interval. This limit overrides `example_sample_percentage`: even if the service has not sampled enough predictions to fulfill `example_sample_perecentage` during an interval, it stops sampling predictions when it meets this limit.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "exampleSamplePercentage": {
          "description": "Required. Fraction of predictions to sample and save to BigQuery during each evaluation interval. For example, 0.1 means 10% of predictions served by your model version get saved to BigQuery.",
          "type": "number",
          "format": "double",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "humanAnnotationConfig": {
          "description": "Optional. Details for human annotation of your data. If you set labelMissingGroundTruth to `true` for this evaluation job, then you must specify this field. If you plan to provide your own ground truth labels, then omit this field. Note that you must create an Instruction resource before you can specify this field. Provide the name of the instruction resource in the `instruction` field within this configuration.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "imageClassificationConfig": {
          "description": "Specify this field if your model version performs image classification or general classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        },
        "inputConfig": {
          "description": "Rquired. Details for the sampled prediction input. Within this configuration, there are requirements for several fields: * `dataType` must be one of `IMAGE`, `TEXT`, or `GENERAL_DATA`. * `annotationType` must be one of `IMAGE_CLASSIFICATION_ANNOTATION`, `TEXT_CLASSIFICATION_ANNOTATION`, `GENERAL_CLASSIFICATION_ANNOTATION`, or `IMAGE_BOUNDING_BOX_ANNOTATION` (image object detection). * If your machine learning model performs classification, you must specify `classificationMetadata.isMultiLabel`. * You must specify `bigquerySource` (not `gcsSource`).",
          "$ref": "GoogleCloudDatalabelingV1beta1InputConfig"
        },
        "textClassificationConfig": {
          "description": "Specify this field if your model version performs text classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1EvaluationMetrics": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationMetrics",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "classificationMetrics": {
          "description": null,
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetrics"
        },
        "objectDetectionMetrics": {
          "description": null,
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionMetrics"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1EventConfig": {
      "id": "GoogleCloudDatalabelingV1beta1EventConfig",
      "description": "Config for video event human labeling task.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotationSpecSets": {
          "description": "Required. The list of annotation spec set resource name. Similar to video classification, we support selecting event from multiple AnnotationSpecSet at the same time.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 60s.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "overlapLength": {
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 1s.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudDatalabelingV1beta1Example": {
      "id": "GoogleCloudDatalabelingV1beta1Example",
      "description": "An Example is a piece of data and its annotation. For example, an image with label \"house\".",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "annotations": {
          "description": "Output only. Annotations for the piece of data in Example. One piece of data can have multiple annotations.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Annotation"
          }
        },
        "imagePayload": {
          "description": "The image payload, a container of the image bytes/uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload"
        },
        "name": {
[...]
