{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "drivelabels:v2beta",
  "name": "drivelabels",
  "canonicalName": "Drive Labels",
  "fullyEncodeReservedExpansion": true,
  "version": "v2beta",
  "revision": "20230125",
  "title": "Drive Labels API",
  "description": "An API for managing Drive Labels",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/drive/labels",
  "protocol": "rest",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": null,
  "schemas": {
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor"
        },
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "description": "Badge status of the label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "description": "Deletes one of more Label Permissions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access. If this is set, the use_admin_access field in the DeleteLabelPermissionRequest messages must either be empty or match this field.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more Label Permissions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access. If this is set, the use_admin_access field in the UpdateLabelPermissionRequest messages must either be empty or match this field.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "description": "Response for updating one or more Label Permissions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "description": "Limits for date Field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "maxValue": {
          "description": "Maximum value for the date Field type.",
          "$ref": "GoogleTypeDate"
        },
        "minValue": {
          "description": "Minimum value for the date Field type.",
          "$ref": "GoogleTypeDate"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "description": "Deletes a Label Permission. Permissions affect the Label resource as a whole, are not revisioned, and do not require publishing.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Required. Label Permission resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "description": "The set of requests for updating aspects of a Label. If any request is not valid, no requests will be applied.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized Field labels when `include_label_in_response` is `true`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "requests": {
          "description": "A list of updates to apply to the Label. Requests will be applied in the order they are specified.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "format": null,
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a Field within a Label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "description": "Request to create a Selection Choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "choice": {
          "description": "Required. The Choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        },
        "fieldId": {
          "description": "Required. The Selection Field in which a Choice will be created.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "description": "Request to delete the Field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Required. ID of the Field to delete.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "description": "Request to delete a Choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fieldId": {
          "description": "Required. The Selection Field from which a Choice will be deleted.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "description": "Request to disable the Field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "disabledPolicy": {
          "description": "Required. Field Disabled Policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "id": {
          "description": "Required. Key of the Field to disable.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "description": "Request to disable a Choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "fieldId": {
          "description": "Required. The Selection Field in which a Choice will be disabled.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "description": "Request to enable the Field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Required. ID of the Field to enable.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "description": "Request to enable a Choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fieldId": {
          "description": "Required. The Selection Field in which a Choice will be enabled.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "description": "A single kind of update to apply to a Label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createField": {
          "description": "Creates a new Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Creates Choice within a Selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "deleteField": {
          "description": "Deletes a Field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "disableField": {
          "description": "Disables the Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "enableField": {
          "description": "Enables the Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "updateFieldType": {
          "description": "Update Field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "updateLabel": {
          "description": "Updates the Label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a Choice properties within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "description": "Request to update Field properties.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "Required. The Field to update.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "properties": {
          "description": "Required. Basic Field properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "description": "Request to change the type of a Field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "id": {
          "description": "Required. The Field to update.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "longTextOptions": {
          "description": "Update field to Long Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLongTextOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "description": "Updates basic properties of a Label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "description": "Request to update a Choice properties.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fieldId": {
          "description": "Required. The Selection Field to update.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Required. The Choice to update.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "properties": {
          "description": "Required. The Choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "description": "Response for Label update.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          }
        },
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if [BatchUpdateLabelResponse2.include_label_in_response] is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabel"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "description": "Response following Field create.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "description": "Response following Selection Choice create.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fieldId": {
          "description": "The server-generated id of the field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "The server-generated ID of the created choice within the Field",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following Field delete.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "description": "Response following Choice delete.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "description": "Response following Field disable.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "description": "Response following Choice disable.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "description": "Response following Field enable.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following Choice enable.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "description": "A single response from an update.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createField": {
          "description": "Creates a new Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a new selection list option to add to a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "deleteField": {
          "description": "Deletes a Field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a Choice from a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "disableField": {
          "description": "Disables Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "enableField": {
          "description": "Enables Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "updateFieldType": {
          "description": "Update Field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "updateLabel": {
          "description": "Updated basic properties of a Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a Choice within a Selection Field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "description": "Response following update to Field properties.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "description": "Response following update to Field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "description": "Response following update to Label properties.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "description": "Response following update to Selection Choice properties.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "description": "Request to deprecate a published Label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "description": "Request to enable a label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the Label before allowing access.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "creator": {
          "description": "Output only. The user who created this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "disabler": {
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "lockStatus": {
          "description": "Output only. The LockStatus of this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "publisher": {
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "description": "Options for the date field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "format": null,
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "description": "UI display hints for rendering a field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "description": "Options for the Integer field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minValue": {
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "description": "Field constants governing the structure of a Field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dateLimits": {
          "description": "Date Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        },
        "integerLimits": {
          "description": "Integer Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        },
        "longTextLimits": {
          "description": "Long text Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "maxDescriptionLength": {
          "description": "Limits for Field description, also called help text.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxDisplayNameLength": {
          "description": "Limits for Field title.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxIdLength": {
          "description": "Max length for the id.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "selectionLimits": {
          "description": "Selection Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "userLimits": {
          "description": "User Field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "description": "Options for a multi-valued variant of an associated field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldLongTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldLongTextOptions",
      "description": "Options the Long Text field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "description": "The basic properties of the field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "description": "The capabilities related to this field when editing the field.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "description": "Options for the selection field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          }
        },
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "description": "Selection field choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "createTime": {
          "description": "Output only. The time this choice was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "lockStatus": {
          "description": "Output only. The LockStatus of this choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "publishTime": {
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "updateTime": {
          "description": "Output only. The time this choice was updated last.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "description": "The capabilities related to this choice on applied metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "description": "UI display hints for rendering an option.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "description": "Basic properties of the choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "description": "Options for the Text field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "description": "Options for the user field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "description": "Limits for integer Field type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "maxValue": {
          "description": "Maximum value for an integer Field type.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "minValue": {
          "description": "Minimum value for an integer Field type.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disableTime": {
          "description": "Output only. The time this label was disabled. This value has no meaning when the label is not disabled.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          }
        },
        "id": {
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "labelType": {
          "description": "Required. The type of label.",
          "type": "string",
          "format": null,
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN"
          ],
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "lockStatus": {
          "description": "Output only. The LockStatus of this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "name": {
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "publishTime": {
          "description": "Output only. The time this label was published. This value has no meaning when the label is not published.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label is not published.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "revisionCreateTime": {
          "description": "Output only. The time this label revision was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "description": "Behavior of this label when it's applied to Drive items.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "copyMode": {
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "format": null,
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values are not copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "description": "UI display hints for rendering the label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "priority": {
          "description": "Order to display label in a list.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "description": "Label constraints governing the structure of a Label; such as, the maximum number of Fields allowed and maximum length of the label title.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fieldLimits": {
          "description": "The limits for Fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "maxDeletedFields": {
          "description": "The maximum number of published Fields that can be deleted.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxFields": {
          "description": "The maximum number of Fields allowed within the label.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "description": "A Lock that can be applied to a Label, Field, or Choice.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "capabilities": {
          "description": "Output only. The user's capabilities on this LabelLock.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities"
        },
        "choiceId": {
          "description": "The ID of the Selection Field Choice that should be locked. If present, `field_id` must also be present.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "createTime": {
          "description": "Output only. The time this LabelLock was created.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the LabelLock. This will not be present if no user was responsible for creating the LabelLock.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this LabelLock was scheduled for deletion. This will be present only if this LabelLock is in the DELETING state.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "fieldId": {
          "description": "The ID of the Field that should be locked. Empty if the whole Label should be locked.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of this LabelLock.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Output only. This LabelLock's state.",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "The LabelLock is active and is being enforced by the server.",
            "The LabelLock is being deleted. The LabelLock will continue to be enforced by the server until it has been fully removed."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "description": "A description of a user's capabilities on a LabelLock.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the Label.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "email": {
          "description": "Specifies the email address for a user or group pricinpal. Not populated for audience principals. User and Group permissions may only be inserted using email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "group": {
          "description": "Group resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "person": {
          "description": "Person resource name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "role": {
          "description": "The role the principal should have.",
          "type": "string",
          "format": null,
          "enum": [
[...]
