{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "adsense:v2",
  "name": "adsense",
  "canonicalName": null,
  "fullyEncodeReservedExpansion": null,
  "version": "v2",
  "revision": "20230131",
  "title": "AdSense Management API",
  "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/adsense/management/",
  "protocol": "rest",
  "baseUrl": "https://adsense.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://adsense.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "schemas": {
    "Account": {
      "id": "Account",
      "description": "Representation of an account.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Output only. Display name of this account.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: accounts/pub-[0-9]+",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pendingTasks": {
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\".",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "premium": {
          "description": "Output only. Whether this account is premium.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Output only. State of the account.",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The account is open and ready to serve ads.",
            "There are some issues with this account. Publishers should visit AdSense in order to fix the account.",
            "The account is closed and can't serve ads."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "timeZone": {
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
          "$ref": "TimeZone"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdBlockingRecoveryTag": {
      "id": "AdBlockingRecoveryTag",
      "description": "Representation of an ad blocking recovery tag. See https://support.google.com/adsense/answer/11575177.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "errorProtectionCode": {
          "description": "Error protection code that can be used in conjunction with the tag. It'll display a message to users if an [ad blocking extension blocks their access to your site](https://support.google.com/adsense/answer/11575480).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tag": {
          "description": "The ad blocking recovery tag. Note that the message generated by the tag can be blocked by an ad blocking extension. If this is not your desired outcome, then you'll need to use it in conjunction with the error protection code.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdClient": {
      "id": "AdClient",
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Output only. Resource name of the ad client. Format: accounts/{account}/adclients/{adclient}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productCode": {
          "description": "Output only. Reporting product code of the ad client. For example, \"AFC\" for AdSense for Content. Corresponds to the `PRODUCT_CODE` dimension, and present only if the ad client supports reporting.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Output only. State of the ad client.",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "GETTING_READY",
            "REQUIRES_REVIEW"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The ad client is ready to show ads.",
            "Running some checks on the ad client before it is ready to serve ads.",
            "The ad client hasn't been checked yet. There are tasks pending before AdSense will start the review."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdClientAdCode": {
      "id": "AdClientAdCode",
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adCode": {
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ampBody": {
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ampHead": {
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdUnit": {
      "id": "AdUnit",
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "contentAdsSettings": {
          "description": "Required. Settings specific to content ads (AFC).",
          "$ref": "ContentAdsSettings"
        },
        "displayName": {
          "description": "Required. Display name of the ad unit, as provided when the ad unit was created.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "State of the ad unit.",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AdUnitAdCode": {
      "id": "AdUnitAdCode",
      "description": "Representation of the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adCode": {
          "description": "Output only. The code snippet to add to the body of an HTML page.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Alert": {
      "id": "Alert",
      "description": "Representation of an alert.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "message": {
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of the alert. Format: accounts/{account}/alerts/{alert}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "severity": {
          "description": "Output only. Severity of this alert.",
          "type": "string",
          "format": null,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Cell": {
      "id": "Cell",
      "description": "Cell representation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "value": {
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ContentAdsSettings": {
      "id": "ContentAdsSettings",
      "description": "Settings specific to content ads (AFC).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "size": {
          "description": "Required. Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Required. Type of the ad unit.",
          "type": "string",
          "format": null,
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ],
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "CustomChannel": {
      "id": "CustomChannel",
      "description": "Representation of a custom channel.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "active": {
          "description": "Whether the custom channel is active and collecting data. See https://support.google.com/adsense/answer/10077192.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "displayName": {
          "description": "Required. Display name of the custom channel.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "Header": {
      "id": "Header",
      "description": "The header information of the columns requested in the report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "currencyCode": {
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Required. Name of the header.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Required. Type of the header.",
          "type": "string",
          "format": null,
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ],
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "object",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any",
              "format": null,
              "enum": [],
              "enumDescriptions": [],
              "properties": {},
              "additionalProperties": null,
              "items": null
            },
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response definition for the account list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "accounts": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListAdClientsResponse": {
      "id": "ListAdClientsResponse",
      "description": "Response definition for the ad client list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adClients": {
          "description": "The ad clients returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AdClient"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListAdUnitsResponse": {
      "id": "ListAdUnitsResponse",
      "description": "Response definition for the adunit list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adUnits": {
          "description": "The ad units returned in the list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AdUnit"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "description": "Response definition for the alerts list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "alerts": {
          "description": "The alerts returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Alert"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListChildAccountsResponse": {
      "id": "ListChildAccountsResponse",
      "description": "Response definition for the child account list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "accounts": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListCustomChannelsResponse": {
      "id": "ListCustomChannelsResponse",
      "description": "Response definition for the custom channel list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "customChannels": {
          "description": "The custom channels returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "CustomChannel"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListLinkedAdUnitsResponse": {
      "id": "ListLinkedAdUnitsResponse",
      "description": "Response definition for the ad units linked to a custom channel list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "adUnits": {
          "description": "The ad units returned in the list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AdUnit"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListLinkedCustomChannelsResponse": {
      "id": "ListLinkedCustomChannelsResponse",
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "customChannels": {
          "description": "The custom channels returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "CustomChannel"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListPaymentsResponse": {
      "id": "ListPaymentsResponse",
      "description": "Response definition for the payments list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "payments": {
          "description": "The payments returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Payment"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListSavedReportsResponse": {
      "id": "ListSavedReportsResponse",
      "description": "Response definition for the saved reports list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "savedReports": {
          "description": "The reports returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "SavedReport"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "description": "Response definition for the sites list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Site"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ListUrlChannelsResponse": {
      "id": "ListUrlChannelsResponse",
      "description": "Response definition for the url channels list rpc.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "urlChannels": {
          "description": "The url channels returned in this list response.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "UrlChannel"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Payment": {
      "id": "Payment",
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments and the [YouTube homepage and payments account](https://support.google.com/adsense/answer/11622510) article for information about dedicated payments accounts for YouTube.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "amount": {
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "date": {
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles).",
          "$ref": "Date"
        },
        "name": {
          "description": "Output only. Resource name of the payment. Format: - accounts/{account}/payments/unpaid for unpaid (current) AdSense earnings. - accounts/{account}/payments/youtube-unpaid for unpaid (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd for paid AdSense earnings. - accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube earnings.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ReportResult": {
      "id": "ReportResult",
      "description": "Result of a generated report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "endDate": {
          "description": "Required. End date of the range (inclusive).",
          "$ref": "Date"
        },
        "headers": {
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Header"
          }
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Row"
          }
        },
        "startDate": {
          "description": "Required. Start date of the range (inclusive).",
          "$ref": "Date"
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "totals": {
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "warnings": {
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Row": {
      "id": "Row",
      "description": "Row representation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cells": {
          "description": "Cells in the row.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "Cell"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "SavedReport": {
      "id": "SavedReport",
      "description": "Representation of a saved report.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Output only. Resource name of the report. Format: accounts/{account}/reports/{report}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "Report title as specified by publisher.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "Site": {
      "id": "Site",
      "description": "Representation of a Site.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "autoAdsEnabled": {
          "description": "Whether auto ads is turned on for the site.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "domain": {
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Output only. Resource name of a site. Format: accounts/{account}/sites/{site}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Output only. State of a site.",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Either: * The site hasn't been checked yet. * The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "UrlChannel": {
      "id": "UrlChannel",
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Output only. Resource name of the URL channel. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "uriPattern": {
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "adclients": {
          "resources": {
            "adunits": {
              "resources": {},
              "methods": {
                "create": {
                  "id": "adsense.accounts.adclients.adunits.create",
                  "path": "v2/{+parent}/adunits",
                  "httpMethod": "POST",
                  "description": "Creates an ad unit. This method can only be used by projects enabled for the [AdSense for Platforms](https://developers.google.com/adsense/platforms/) product. Note that ad units can only be created for ad clients with an \"AFC\" product code. For more info see the [AdClient resource](/adsense/management/reference/rest/v2/accounts.adclients). For now, this method can only be used to create `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "parameters": {
                    "parent": {
                      "description": "Required. Ad client to create an ad unit under. Format: accounts/{account}/adclients/{adclient}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "get": {
                  "id": "adsense.accounts.adclients.adunits.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets an ad unit from a specified account and ad client.",
                  "parameters": {
                    "name": {
                      "description": "Required. AdUnit to get information about. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "getAdcode": {
                  "id": "adsense.accounts.adclients.adunits.getAdcode",
                  "path": "v2/{+name}/adcode",
                  "httpMethod": "GET",
                  "description": "Gets the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "list": {
                  "id": "adsense.accounts.adclients.adunits.list",
                  "path": "v2/{+parent}/adunits",
                  "httpMethod": "GET",
                  "description": "Lists all ad units under a specified account and ad client.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "parent": {
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "listLinkedCustomChannels": {
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels",
                  "path": "v2/{+parent}:listLinkedCustomChannels",
                  "httpMethod": "GET",
                  "description": "Lists all the custom channels available for an ad unit.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "parent": {
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "patch": {
                  "id": "adsense.accounts.adclients.adunits.patch",
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates an ad unit. This method can only be used by projects enabled for the [AdSense for Platforms](https://developers.google.com/adsense/platforms/) product. For now, this method can only be used to update `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "parameters": {
                    "name": {
                      "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "updateMask": {
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": "google-fieldmask",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            },
            "customchannels": {
              "resources": {},
              "methods": {
                "create": {
                  "id": "adsense.accounts.adclients.customchannels.create",
                  "path": "v2/{+parent}/customchannels",
                  "httpMethod": "POST",
                  "description": "Creates a custom channel. This method can only be used by projects enabled for the [AdSense for Platforms](https://developers.google.com/adsense/platforms/) product.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client to create a custom channel under. Format: accounts/{account}/adclients/{adclient}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "delete": {
                  "id": "adsense.accounts.adclients.customchannels.delete",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a custom channel. This method can only be used by projects enabled for the [AdSense for Platforms](https://developers.google.com/adsense/platforms/) product.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the custom channel to delete. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "get": {
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets information about the selected custom channel.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "list": {
                  "id": "adsense.accounts.adclients.customchannels.list",
                  "path": "v2/{+parent}/customchannels",
                  "httpMethod": "GET",
                  "description": "Lists all the custom channels available in an ad client.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "parent": {
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "listLinkedAdUnits": {
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "httpMethod": "GET",
                  "description": "Lists all the ad units available for a custom channel.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "parent": {
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "patch": {
                  "id": "adsense.accounts.adclients.customchannels.patch",
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates a custom channel. This method can only be used by projects enabled for the [AdSense for Platforms](https://developers.google.com/adsense/platforms/) product.",
                  "parameters": {
                    "name": {
                      "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "updateMask": {
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": "google-fieldmask",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            },
            "urlchannels": {
              "resources": {},
              "methods": {
                "get": {
                  "id": "adsense.accounts.adclients.urlchannels.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets information about the selected url channel.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the url channel to retrieve. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/urlchannels/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "UrlChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                },
                "list": {
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "path": "v2/{+parent}/urlchannels",
                  "httpMethod": "GET",
                  "description": "Lists active url channels.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "integer",
                      "format": "int32",
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "parent": {
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}",
                      "default": null,
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": null,
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "supportsMediaDownload": false,
                  "useMediaDownloadService": false,
                  "supportsSubscription": false,
                  "supportsMediaUpload": false,
                  "mediaUpload": null
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "adsense.accounts.adclients.get",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "description": "Gets the ad client from the given resource name.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the ad client to retrieve. Format: accounts/{account}/adclients/{adclient}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "AdClient"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "getAdcode": {
              "id": "adsense.accounts.adclients.getAdcode",
              "path": "v2/{+name}/adcode",
              "httpMethod": "GET",
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
              "parameters": {
                "name": {
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "AdClientAdCode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "adsense.accounts.adclients.list",
              "path": "v2/{+parent}/adclients",
              "httpMethod": "GET",
              "description": "Lists all the ad clients available in an account.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^accounts/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "ListAdClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "alerts": {
          "resources": {},
          "methods": {
            "list": {
              "id": "adsense.accounts.alerts.list",
              "path": "v2/{+parent}/alerts",
              "httpMethod": "GET",
              "description": "Lists all the alerts available in an account.",
              "parameters": {
                "languageCode": {
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^accounts/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "payments": {
          "resources": {},
          "methods": {
            "list": {
              "id": "adsense.accounts.payments.list",
              "path": "v2/{+parent}/payments",
              "httpMethod": "GET",
              "description": "Lists all the payments available for an account.",
              "parameters": {
                "parent": {
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^accounts/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "reports": {
          "resources": {
            "saved": {
              "resources": {},
              "methods": {
                "generate": {
                  "id": "adsense.accounts.reports.saved.generate",
                  "path": "v2/{+name}/saved:generate",
                  "httpMethod": "GET",
                  "description": "Generates a saved report.",
                  "parameters": {
                    "currencyCode": {
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [],
                      "enumDescriptions": [],
                      "repeated": false
                    },
                    "dateRange": {
                      "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                      "default": null,
                      "location": "query",
                      "required": false,
                      "type": "string",
                      "format": null,
                      "minimum": null,
                      "maximum": null,
                      "pattern": null,
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "enumDescriptions": [
[...]
