{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "cloudsearch:v1",
  "name": "cloudsearch",
  "canonicalName": "Cloud Search",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "revision": "20230117",
  "title": "Cloud Search API",
  "description": "Cloud Search provides cloud-based search capabilities over Google Workspace data. The Cloud Search API allows indexing of non-Google Workspace data into Cloud Search.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "protocol": "rest",
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "schemas": {
    "AbuseReportingConfig": {
      "id": "AbuseReportingConfig",
      "description": "Abuse reporting configuration outlining what is supported in this conference.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "recordingAllowed": {
          "description": "Whether the current call may include video recordings in its abuse reports.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "writtenUgcAllowed": {
          "description": "Whether the current call may include user generated content (chat, polls, Q&A...) in its abuse reports.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AckInfo": {
      "id": "AckInfo",
      "description": "Information about how devices in a meeting have acked for a session/operation.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "unackedDeviceCount": {
          "description": "Output only. Number of meeting devices that have not acked yet.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "unackedDeviceIds": {
          "description": "Output only. IDs of meeting devices (at most ten are provided) that have not acked yet.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AclFixRequest": {
      "id": "AclFixRequest",
      "description": "The request set by clients to instruct Backend how the user intend to fix the ACL. Technically it's not a request to ACL Fixer, because Backend uses /DriveService.Share to modify Drive ACLs.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "recipientEmails": {
          "description": "For Spaces messages: This field is ignored. For DMs messages: The list of email addresses that should be added to the Drive item's ACL. In general, the list should not be empty when the boolean \"should_fix\" field is set; otherwise, the list should be empty. During transition - when clients do not specify this field but the \"should_fix\" is true, we follow the legacy behavior: share to all users in the DM regardless of emails. This behavior is being phased out.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "role": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "UNKNOWN",
            "READER",
            "COMMENTER",
            "WRITER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "shouldFix": {
          "description": "Whether to attempt to fix the ACL by adding the room or DM members to the Drive file's ACL.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AclFixStatus": {
      "id": "AclFixStatus",
      "description": "The message reconstructed based on information in the response of /PermissionFixOptionsService.Query (or the Apiary API that wraps it). Indicates the ability of the requester to change the access to the Drive file for the room roster or the DM members. Used in GetMessagePreviewMetadataResponse only.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fixability": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "UNKNOWN",
            "ALREADY_ACCESSIBLE",
            "CAN_FIX",
            "CANNOT_FIX",
            "ACL_FIXER_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "fixableEmailAddress": {
          "description": "List of recipient email addresses for which access can be granted. This field contains the same email addresses from the GetMessagePreviewMetadata request if all recipients can be successfully added to the ACL as determined by Drive ACL Fixer. For now, the field is non-empty if and only if the \"fixability\" value is \"CAN_FIX\".",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "outOfDomainWarningEmailAddress": {
          "description": "List of recipient email addresses for which an out-of-domain-sharing warning must be shown, stating that these email addresses are not in the Google Apps organization that the requested item belong to. Empty if all recipients are in the same Google Apps organization.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AclInfo": {
      "id": "AclInfo",
      "description": "Next tag: 4",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "groupsCount": {
          "description": "Number of groups which have at least read access to the document.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "scope": {
          "description": "The scope to which the content was shared.",
          "type": "string",
          "format": null,
          "enum": [
            "LIMITED",
            "DASHER_DOMAIN_WITH_LINK",
            "DASHER_DOMAIN",
            "PUBLIC_WITH_LINK",
            "PUBLIC",
            "TEAM_DRIVE"
          ],
          "enumDescriptions": [
            "Explicit set of people and groups.",
            "Anybody at the same domain with the link.",
            "Now it works only for google.com. Anybody at the same domain. Now it works only",
            "for google.com. Anybody with the link.",
            "Anybody.",
            "Special tag to indicate TeamDrive scope."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "usersCount": {
          "description": "Number of users which have at least read access to the document.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "ActionParameter": {
      "id": "ActionParameter",
      "description": "List of string parameters that developers can specify when the above action method (in apps script) is invoked. An example use case is for 3 snooze buttons: snooze now, snooze 1 day, snooze next week. Developers can have action method = snooze() and pass the snooze type and snooze time in list of string parameters.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "key": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AddonComposeUiActionMarkup": {
      "id": "AddonComposeUiActionMarkup",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "type": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "UNSPECIFIED",
            "DISMISS"
          ],
          "enumDescriptions": [
            "Default. When unspecified, no action is taken.",
            "Dismisses the add-on compose UI."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AffectedMembership": {
      "id": "AffectedMembership",
      "description": "Earlier we used to populate just the affected_members list and inferred the new membership state (roles didn't exist back then) from the Type. go/dynamite-finra required backend to know the previous membership state to reconstruct membership history. The proper solution involved cleaning up up Type enum, but it was used in many, many places. This was added as a stop-gap solution to unblock FINRA without breaking everything. Later role update and target audience update started relying on this to communicate information to clients about what transition happened. So this is now required to be populated and should be in sync with affected_members for new messages.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "affectedMember": {
          "description": null,
          "$ref": "MemberId"
        },
        "priorMembershipRole": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "ROLE_UNKNOWN",
            "ROLE_NONE",
            "ROLE_INVITEE",
            "ROLE_MEMBER",
            "ROLE_OWNER"
          ],
          "enumDescriptions": [
            "",
            "This role is used when a user is forcibly removed from a room by another user. They will no longer be able to search for the room, but their history will be retained.",
            "This role is used for two purposes. 1. A group is invited to a room, making it discoverable for its members. 2. A user was part of a room, but willingly left the room.",
            "--- Following roles are for joined members of a roster. --- Default role for any joined user. Has basic capabilities within a room.",
            "Role assigned to room creators and explicitly promoted members. Has broad powers to manage the room."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "priorMembershipState": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "MEMBER_UNKNOWN",
            "MEMBER_INVITED",
            "MEMBER_JOINED",
            "MEMBER_NOT_A_MEMBER",
            "MEMBER_FAILED"
          ],
          "enumDescriptions": [
            "Default state, do not use",
            "An invitation to the space has been sent",
            "User has joined the space",
            "User is not a member",
            "This state should never be stored in Spanner. It is a state for responses to the clients to indicate that membership mutations have failed and the member is in its previous state."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "targetMembershipRole": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "ROLE_UNKNOWN",
            "ROLE_NONE",
            "ROLE_INVITEE",
            "ROLE_MEMBER",
            "ROLE_OWNER"
          ],
          "enumDescriptions": [
            "",
            "This role is used when a user is forcibly removed from a room by another user. They will no longer be able to search for the room, but their history will be retained.",
            "This role is used for two purposes. 1. A group is invited to a room, making it discoverable for its members. 2. A user was part of a room, but willingly left the room.",
            "--- Following roles are for joined members of a roster. --- Default role for any joined user. Has basic capabilities within a room.",
            "Role assigned to room creators and explicitly promoted members. Has broad powers to manage the room."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AllAuthenticatedUsersProto": {
      "id": "AllAuthenticatedUsersProto",
      "description": "Represents a principal who has authenticated as any kind of user which the application understands. This is typically used for \"wiki-like\" security, where anyone is allowed access so long as they can be held accountable for that access. Since the purpose is knowing whom to blame, it is up to the application to decide what kinds of users it knows how to blame. For example, an application might choose to include GAIA users in \"all authenticated users\", but not include MDB users. Nothing here.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "Annotation": {
      "id": "Annotation",
      "description": "NOTE WHEN ADDING NEW PROTO FIELDS: Be sure to add datapol annotations to new fields with potential PII, so they get scrubbed when logging protos for errors. NEXT TAG: 29",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "babelPlaceholderMetadata": {
          "description": null,
          "$ref": "BabelPlaceholderMetadata"
        },
        "cardCapabilityMetadata": {
          "description": "LINT.ThenChange(//depot/google3/java/com/google/apps/dynamite/v1/backend/action/common/SystemMessageHelper.java)",
          "$ref": "CardCapabilityMetadata"
        },
        "chipRenderType": {
          "description": "Whether the annotation should be rendered as a chip. If this is missing or unspecified, fallback to should_not_render on the metadata.",
          "type": "string",
          "format": null,
          "enum": [
            "CHIP_RENDER_TYPE_UNSPECIFIED",
            "RENDER",
            "RENDER_IF_POSSIBLE",
            "DO_NOT_RENDER"
          ],
          "enumDescriptions": [
            "",
            "Clients must render the annotation as a chip, and if they cannot render this many Annotations, show a fallback card.",
            "Client can render the annotation if it has room to render it.",
            "Client should not render the annotation as a chip."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "consentedAppUnfurlMetadata": {
          "description": null,
          "$ref": "ConsentedAppUnfurlMetadata"
        },
        "customEmojiMetadata": {
          "description": null,
          "$ref": "CustomEmojiMetadata"
        },
        "dataLossPreventionMetadata": {
          "description": null,
          "$ref": "DataLossPreventionMetadata"
        },
        "driveMetadata": {
          "description": "Chip annotations",
          "$ref": "DriveMetadata"
        },
        "formatMetadata": {
          "description": null,
          "$ref": "FormatMetadata"
        },
        "groupRetentionSettingsUpdated": {
          "description": null,
          "$ref": "GroupRetentionSettingsUpdatedMetaData"
        },
        "gsuiteIntegrationMetadata": {
          "description": "Metadata for 1P integrations like tasks, calendar. These are supported only through integration server as 1P integrations use the integration API (which in turn uses backend API with special permissions) to post messages. Clients should never set this. LINT.IfChange",
          "$ref": "GsuiteIntegrationMetadata"
        },
        "incomingWebhookChangedMetadata": {
          "description": null,
          "$ref": "IncomingWebhookChangedMetadata"
        },
        "integrationConfigUpdated": {
          "description": "LINT.ThenChange(//depot/google3/java/com/google/apps/dynamite/v1/backend/action/common/SystemMessageHelper.java)",
          "$ref": "IntegrationConfigUpdatedMetadata"
        },
        "length": {
          "description": "Length of the text_body substring beginning from start_index the Annotation corresponds to.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "localId": {
          "description": "A unique client-assigned ID for this annotation. This is helpful in matching the back-filled annotations to the original annotations on client side, without having to re-parse the message.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "membershipChanged": {
          "description": "Metadata for system messages. Clients should never set this. LINT.IfChange",
          "$ref": "MembershipChangedMetadata"
        },
        "readReceiptsSettingsMetadata": {
          "description": null,
          "$ref": "ReadReceiptsSettingsUpdatedMetadata"
        },
        "requiredMessageFeaturesMetadata": {
          "description": "Metadata that defines all of the required features that must be rendered in the message. Clients can use this to see whether they support the entire message, or show a fallback chip otherwise. See go/message-quoting-client-to-server for details. LINT.ThenChange( //depot/google3/java/com/google/apps/dynamite/v1/allshared/parser/AnnotationSanitizer.java, //depot/google3/java/com/google/apps/dynamite/v1/backend/action/common/SystemMessageHelper.java, //depot/google3/java/com/google/caribou/eli/mediation/chat/AnnotationTranslator.java )",
          "$ref": "RequiredMessageFeaturesMetadata"
        },
        "roomUpdated": {
          "description": null,
          "$ref": "RoomUpdatedMetadata"
        },
        "serverInvalidated": {
          "description": "Whether or not the annotation is invalidated by the server. Example of situations for invalidation include: when the URL is malformed, or when Drive item ID is rejected by Drive Service.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "slashCommandMetadata": {
          "description": null,
          "$ref": "SlashCommandMetadata"
        },
        "startIndex": {
          "description": "Start index (0-indexed) of the Message text the Annotation corresponds to, inclusive.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Type of the Annotation.",
          "type": "string",
          "format": null,
          "enum": [
            "TYPE_UNSPECIFIED",
            "URL",
            "DRIVE_FILE",
            "DRIVE_DOC",
            "DRIVE_SHEET",
            "DRIVE_SLIDE",
            "DRIVE_FORM",
            "USER_MENTION",
            "SLASH_COMMAND",
            "CONSENTED_APP_UNFURL",
            "VIDEO",
            "FORMAT_DATA",
            "IMAGE",
            "PDF",
            "VIDEO_CALL",
            "UPLOAD_METADATA",
            "GSUITE_INTEGRATION",
            "CUSTOM_EMOJI",
            "CARD_CAPABILITY",
            "DATA_LOSS_PREVENTION",
            "REQUIRED_MESSAGE_FEATURES_METADATA",
            "MEMBERSHIP_CHANGED",
            "ROOM_UPDATED",
            "GROUP_RETENTION_SETTINGS_UPDATED",
            "BABEL_PLACEHOLDER",
            "READ_RECEIPTS_SETTINGS_UPDATED",
            "INCOMING_WEBHOOK_CHANGED",
            "INTEGRATION_CONFIG_UPDATED",
            "INVITATION"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "These can have overlaps, i.e. same message can have multiple of these. For example a Drive link to a PDF can have URL, DRIVE_FILE and PDF all set Links",
            "Any drive file",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Any video, not just youtube, the url decides how to play",
            "UI should not be concerned with FORMAT_DATA",
            "",
            "",
            "For Thor integration",
            "Blobstore uploads",
            "Generic annotation for gsuite integrations",
            "",
            "Card capability for in-stream widgets.",
            "",
            "Clients can use this to see whether they support the entire message, or show a fallback chip otherwise.",
            "Annotation types for system messages. Clients should never set this.",
            "",
            "",
            "",
            "",
            "",
            "",
            "Message-level annotations. First message of an invite. Should not be set by clients."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "uniqueId": {
          "description": "A unique server-assigned ID for this annotation. This is helpful in matching annotation objects when fetched from service.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "uploadMetadata": {
          "description": null,
          "$ref": "UploadMetadata"
        },
        "urlMetadata": {
          "description": null,
          "$ref": "UrlMetadata"
        },
        "userMentionMetadata": {
          "description": "Metadata that clients can set for annotations. LINT.IfChange In-text annotations",
          "$ref": "UserMentionMetadata"
        },
        "videoCallMetadata": {
          "description": null,
          "$ref": "VideoCallMetadata"
        },
        "youtubeMetadata": {
          "description": null,
          "$ref": "YoutubeMetadata"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppId": {
      "id": "AppId",
      "description": "Identifier of an App.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appType": {
          "description": "Enum indicating the type of App this is.",
          "type": "string",
          "format": null,
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP",
            "GSUITE_APP",
            "INCOMING_WEBHOOK"
          ],
          "enumDescriptions": [
            "",
            "3P APP eg. external Bots(Asana Bot), 1P Bots(Drive Bot).",
            "1P APP eg. Tasks, Meet, Docs, Calendar..",
            "Asynchronous messages via an incoming webhook."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "gsuiteAppType": {
          "description": "Enum indicating which 1P App this is when app_type is GSUITE_APP. Determined & set by the 1P API as a convenience for all users of this identifier(Eg. clients, chime, backend etc.) to map to 1P properties.",
          "type": "string",
          "format": null,
          "enum": [
            "GSUITE_APP_TYPE_UNSPECIFIED",
            "TASKS_APP",
            "CALENDAR_APP",
            "DOCS_APP",
            "SHEETS_APP",
            "SLIDES_APP",
            "MEET_APP",
            "ASSISTIVE_SUGGESTION_APP",
            "CONTACTS_APP",
            "ACTIVITY_FEED_APP",
            "DRIVE_APP",
            "CHAT_IN_MEET_APP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Powered by Bullseye",
            "",
            "",
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "id": {
          "description": "Numeric identifier of the App. Set to Project number for 1/3P Apps. For Webhook, this is WebhookId. Determined & set by the 1P API from App credentials on the side channel.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedActivityFeedAnnotationData": {
      "id": "AppsDynamiteSharedActivityFeedAnnotationData",
      "description": "Next Id: 7",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "activityFeedMessageCreateTime": {
          "description": "Timestamp of when the Activity Feed message that contains this annotation was created. This is roughly when the activity happened, such as when a reaction happened, but will have at least some small delay, since the Activity Feed message is created asynchronously after. This timestamp should only be used for display when the activity create time is not available in the Chat UI, like the time of a reaction.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "activityFeedMessageId": {
          "description": "Unique id of the Activity Feed message used by clients to implement click-to-source. This is the same messageId as the top-level id field for the Activity Feed item.",
          "$ref": "MessageId"
        },
        "chatItem": {
          "description": null,
          "$ref": "AppsDynamiteSharedChatItem"
        },
        "sharedUserInfo": {
          "description": "Only populated on read path and should not be persisted in storage.",
          "$ref": "UserInfo"
        },
        "userInfo": {
          "description": "Use shared_user_info instead.",
          "$ref": "AppsDynamiteSharedActivityFeedAnnotationDataUserInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedActivityFeedAnnotationDataUserInfo": {
      "id": "AppsDynamiteSharedActivityFeedAnnotationDataUserInfo",
      "description": "UserId of the AF item updater to show and the updater count to show.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "updaterCountDisplayType": {
          "description": "Describes how updater_count_to_show should be used.",
          "type": "string",
          "format": null,
          "enum": [
            "UPDATER_COUNT_DISPLAY_TYPE_UNSPECIFIED",
            "EXACT_COUNT",
            "NONZERO_COUNT"
          ],
          "enumDescriptions": [
            "",
            "A precise updater count is known and the value set in updater_count_to_show should be used.",
            "A precise updater count could not be calculated, but there is at least one. Any value set in updater_count_to_show should NOT be used."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updaterCountToShow": {
          "description": "The number of updaters for clients to show, currently set to the total number of updaters minus the one set in updater_to_show.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updaterToShow": {
          "description": "The updater for clients to show.",
          "$ref": "UserId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAppProfile": {
      "id": "AppsDynamiteSharedAppProfile",
      "description": "Optional field for apps overriding display info",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "avatarEmoji": {
          "description": "Displayed user avatar emoji.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "avatarUrl": {
          "description": "Displayed user avatar url.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "name": {
          "description": "Displayed user name.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantAnnotationData": {
      "id": "AppsDynamiteSharedAssistantAnnotationData",
      "description": "This is the internal version of the API proto at google3/google/chat/v1/gsuite_message_integration.proto Data used to render Assistant suggestions. See go/bullseye-rendering.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "suggestion": {
          "description": "The suggestion to render in the card.",
          "$ref": "AppsDynamiteSharedAssistantSuggestion"
        },
        "unfulfillable": {
          "description": "Set when the initial query was unfulfillable. Only an on-demand unfulfillable query will result in a response (not a proactive query). 1. On-demand: user explicitly invokes the bot 2. Proactive: bot makes proactive suggestion (when available) by listening to all user messages.",
          "$ref": "AppsDynamiteSharedAssistantUnfulfillableRequest"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantDebugContext": {
      "id": "AppsDynamiteSharedAssistantDebugContext",
      "description": "Represents info regarding suggestion debug information.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "query": {
          "description": "The query that triggered the resulting suggestion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantFeedbackContext": {
      "id": "AppsDynamiteSharedAssistantFeedbackContext",
      "description": "Data needed to render feedback on the Assistant card",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "feedbackChips": {
          "description": "Specifies a list of feedback chips to show",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppsDynamiteSharedAssistantFeedbackContextFeedbackChip"
          }
        },
        "thumbsFeedback": {
          "description": "Whether the thumbs feedback is provided",
          "type": "string",
          "format": null,
          "enum": [
            "THUMBS_FEEDBACK_UNSPECIFIED",
            "NONE_SELECTED",
            "UP",
            "DOWN"
          ],
          "enumDescriptions": [
            "Unspecified thumbs state",
            "Thumbs are not selected",
            "Thumbs up selected",
            "Thumbs down selected"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantFeedbackContextFeedbackChip": {
      "id": "AppsDynamiteSharedAssistantFeedbackContextFeedbackChip",
      "description": "Suggestion chips for users to indicate positive or negative feedback",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "feedbackChipType": {
          "description": "What type of chip to display",
          "type": "string",
          "format": null,
          "enum": [
            "FEEDBACK_CHIP_TYPE_UNSPECIFIED",
            "WRONG_TRIGGER",
            "WRONG_FILE",
            "CORRECT_TRIGGER",
            "CORRECT_FILE",
            "DISRUPTIVE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified type of feedback chip",
            "Bad/noisy triggering",
            "Incorrect files were presented",
            "The Assistant card triggered appropriately",
            "The correct files were presented",
            "The feature is disruptive",
            "Other reason"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Whether the chip has been selected",
          "type": "string",
          "format": null,
          "enum": [
            "FEEDBACK_CHIP_STATE_UNSPECIFIED",
            "SELECTED",
            "UNSELECTED"
          ],
          "enumDescriptions": [
            "Unspecified selection state",
            "Chip is selected",
            "Chip is not selected"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantSessionContext": {
      "id": "AppsDynamiteSharedAssistantSessionContext",
      "description": "Session context specific for Assistant suggestions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "contextualSessionId": {
          "description": "Unique identifier populated by the contextual request handler for each vertical (Ex: File Suggestions, Smart Scheduling, etc.) that can be used to track sessions end-to-end. May span multiple users (sender-specific).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantSuggestion": {
      "id": "AppsDynamiteSharedAssistantSuggestion",
      "description": "Data for an Assistant suggestion.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "debugContext": {
          "description": "Info regarding suggestion debug information.",
          "$ref": "AppsDynamiteSharedAssistantDebugContext"
        },
        "feedbackContext": {
          "description": "Data for rendering feedback.",
          "$ref": "AppsDynamiteSharedAssistantFeedbackContext"
        },
        "findDocumentSuggestion": {
          "description": "Suggestion type that suggests documents (docs, slides, sheets).",
          "$ref": "AppsDynamiteSharedFindDocumentSuggestion"
        },
        "serializedSuggestions": {
          "description": "String representation of the suggestions provided.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "sessionContext": {
          "description": "Session context specific to the Assistant suggestion.",
          "$ref": "AppsDynamiteSharedAssistantSessionContext"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAssistantUnfulfillableRequest": {
      "id": "AppsDynamiteSharedAssistantUnfulfillableRequest",
      "description": "Data for a response to an unfulfillable request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedAvatarInfo": {
      "id": "AppsDynamiteSharedAvatarInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "emoji": {
          "description": null,
          "$ref": "AppsDynamiteSharedEmoji"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedBackendUploadMetadata": {
      "id": "AppsDynamiteSharedBackendUploadMetadata",
      "description": "Metadata used only in Dynamite backend for uploaded attachments.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blobPath": {
          "description": "Blobstore path for the uploaded attachment",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentName": {
          "description": "The original file name for the content, not the full path.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentSize": {
          "description": "Scotty reported content size by default. http://google3/uploader/agent/scotty_agent.proto?l=101&rcl=140889785",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentType": {
          "description": "Type is from Scotty's best_guess by default: http://google3/uploader/agent/scotty_agent.proto?l=51&rcl=140889785",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dlpScanOutcome": {
          "description": "The results of the Data Loss Prevention (DLP) scan of the attachment. DEPRECATED: use dlp_scan_summary instead.",
          "type": "string",
          "format": null,
          "enum": [
            "SCAN_UNKNOWN_OUTCOME",
            "SCAN_SUCCEEDED_NO_VIOLATION",
            "SCAN_SUCCEEDED_BLOCK",
            "SCAN_SUCCEEDED_WARN",
            "SCAN_SUCCEEDED_AUDIT_ONLY",
            "SCAN_FAILURE_EXCEPTION",
            "SCAN_FAILURE_RULE_FETCH_FAILED",
            "SCAN_FAILURE_TIMEOUT",
            "SCAN_FAILURE_ALL_RULES_FAILED",
            "SCAN_FAILURE_ILLEGAL_STATE_FOR_ATTACHMENTS",
            "SCAN_SKIPPED_EXPERIMENT_DISABLED",
            "SCAN_SKIPPED_CONSUMER",
            "SCAN_SKIPPED_NON_HUMAN_USER",
            "SCAN_SKIPPED_NO_MESSAGE",
            "SCAN_SKIPPED_USER_ACKNOWLEDGED_WARNING",
            "SCAN_SKIPPED_MESSAGE_FROM_UNSUPPORTED_ORIGIN",
            "SCAN_RULE_EVALUATION_SKIPPED_NO_RULES_FOUND",
            "SCAN_RULE_EVALUATION_SKIPPED_NO_APPLICABLE_RULES_FOR_ACTION_PARAMS",
            "SCAN_RULE_EVALUATION_SKIPPED_NO_APPLICABLE_RULES_FOR_TRIGGER",
            "SCAN_RULE_EVALUATION_SKIPPED_CHANGELING_PERMANENT_ERROR",
            "SCAN_RULE_EVALUATION_SKIPPED_CHANGELING_EMPTY_RESPONSE",
            "SCAN_RULE_EVALUATION_SKIPPED_UNSUPPORTED_FILE_TYPE",
            "SCAN_SUCCEEDED_WITH_FAILURES_NO_VIOLATION",
            "SCAN_SUCCEEDED_WITH_FAILURES_BLOCK",
            "SCAN_SUCCEEDED_WITH_FAILURES_WARN",
            "SCAN_SUCCEEDED_WITH_FAILURES_AUDIT_ONLY"
          ],
          "enumDescriptions": [
            "",
            "This means no violation is detected on the given message/attachment.",
            "Violation is detected. The message/attachment will be blocked (or deleted if this happens in failure recovery), the user will be warned, and the violation will be logged to BIP.",
            "Violation is detected. The user will be warned, and the violation will be logged to BIP.",
            "Violation is detected and will be logged to BIP (no user-facing action performed).",
            "Rule fetch and evaluation were attempted but an exception occurred.",
            "Rule fetch was attempted but failed, so rule evaluation could not be performed.",
            "Rule fetch and evaluation were attempted but the scanning timed out.",
            "Rule fetch completed and evaluation were attempted, but all of the rules failed to be evaluated.",
            "An IllegalStateException is thrown when executing DLP on attachments. This could happen if the space row is missing.",
            "Rule fetch and evaluation is skipped because DLP is not enabled for the user.",
            "Rule fetch and evaluation are skipped because the user sending message is consumer.",
            "Rule fetch and evaluation are skipped because the user sending message is a non-human user (i.e. a bot).",
            "Rule fetch and evaluation are skipped because there is no message to scan. Deprecated: this should not happen since there must be message or attachment for DLP scan.",
            "Rule fetch and evaluation are skipped because the user has acknowledged the warning on the message that triggered the Warn violation and sent the message anyway.",
            "Scanning was skipped because the message originated from Interop or Babel.",
            "Rule fetch happened, but rule evaluation is skipped because no rules were found.",
            "Rule fetch happened, but rule evaluation is skipped because none of the rules are applicable to the given action params.",
            "Rule fetch happened, but rule evaluation is skipped because none of the rules are applicable to the given trigger.",
            "Rule fetch happened, but rule evaluation is skipped because Changeling returned permanent failure while converting the attachment to text.",
            "Rule fetch happened, but rule evaluation is skipped because Changeling returned an empty response while converting the attachment to text.",
            "Rule fetch happened, but rule evaluation is skipped because file type is unsupported.",
            "Rules were fetched but some evaluations failed. No violation was found in the rules that were successfully evaluated.",
            "Rules were fetched but some evaluations failed. A blocking violation was found in the rules that were successfully evaluated. The message/attachment will be blocked, the user will be notified, and the violation will be logged to BIP. A blocking violation takes precedence over all other violation types.",
            "Rules were fetched but some evaluations failed. A warn violation was found in the rules that were successfully evaluated. The user will be warned, and the violation will be logged to BIP.",
            "Rules were fetched but some evaluations failed. An audit-only violation was found in the rules that were successfully evaluated. The violation will be logged to BIP (no user-facing action performed)."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "dlpScanSummary": {
          "description": "Summary of a Data Loss Prevention (DLP) scan of the attachment. Attachments are evaluated in the backend when they are uploaded.",
          "$ref": "DlpScanSummary"
        },
        "groupId": {
          "description": "GroupId to which this attachment is uploaded.",
          "$ref": "GroupId"
        },
        "isClientSideTranscodedVideo": {
          "description": "If the uploaded file is a video that has been transcoded on the client side Next tag: 18",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "originalDimension": {
          "description": "Original dimension of the content. Only set for image attachments.",
          "$ref": "AppsDynamiteSharedDimension"
        },
        "quoteReplyMessageId": {
          "description": "The message id of a quote reply referencing this attachment. When present, this attachment has been quoted in a reply message. Normally, the attachment is fetched through the message id in the blob_path, but in the case of a quote reply, the blob_path would contain the quoted message id. Thus this message id field is needed to fetch the quote reply message instead. This field is conditionally populated at read time for quotes and never persisted in storage. See go/message-quoting-attachments for more context.",
          "$ref": "MessageId"
        },
        "sha256": {
          "description": "The SHA256 hash of the attachment bytes.",
          "type": "string",
          "format": "byte",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "uploadIp": {
          "description": "User IP address at upload time. Ex. \"123.1.2.3\". Used by Ares abuse scanning.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "uploadTimestampUsec": {
          "description": "Timestamp of when user finished uploading the content.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "videoId": {
          "description": "VideoID of the video attachments. This ID shall meets the Youtube ID format of 16 hex characters. For example, '4c14b8825af6059b' is a valid ID.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "videoThumbnailBlobId": {
          "description": "Full Blobstore ID for the video thumbnail.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "virusScanResult": {
          "description": "Result for a virus scan.",
          "type": "string",
          "format": null,
          "enum": [
            "UNKNOWN_VIRUS_SCAN_RESULT",
            "CLEAN",
            "INFECTED",
            "ERROR",
            "POLICY_VIOLATION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "The document violates Google's policy for executables and archives."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCalendarEventAnnotationData": {
      "id": "AppsDynamiteSharedCalendarEventAnnotationData",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "calendarEvent": {
          "description": null,
          "$ref": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEvent"
        },
        "eventCreation": {
          "description": "Notification about the creation of an event.",
          "$ref": "AppsDynamiteSharedCalendarEventAnnotationDataEventCreation"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEvent": {
      "id": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEvent",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "endTime": {
          "description": "The end time of the event.",
          "$ref": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime"
        },
        "eventId": {
          "description": "ID of the event.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startTime": {
          "description": "The start time of the event.",
          "$ref": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime"
        },
        "title": {
          "description": "Title of the event (at the time the message was generated).",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime": {
      "id": "AppsDynamiteSharedCalendarEventAnnotationDataCalendarEventTime",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "allDay": {
          "description": "All day event.",
          "$ref": "Date"
        },
        "timed": {
          "description": "Non all day event.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCalendarEventAnnotationDataEventCreation": {
      "id": "AppsDynamiteSharedCalendarEventAnnotationDataEventCreation",
      "description": "Creation of an event (no extra data for now).",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCallAnnotationData": {
      "id": "AppsDynamiteSharedCallAnnotationData",
      "description": "Data used to render Meet or Google Voice chips in Chat. See go/dynamite-calling-artifacts-in-chat.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "callEndedTimestamp": {
          "description": "Timestamp when the call ended. Used to render the call ended system message.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "callMetadata": {
          "description": "Required. Call metadata required to create the call artifacts. For now, the metadata contains only the call id to identify the call. This field allows additional data (e.g. voice call type) to be added if needed in the future.",
          "$ref": "AppsDynamiteSharedCallMetadata"
        },
        "callStatus": {
          "description": "Required. Indicates the call status for the space. Used to determine the chip's state.",
          "type": "string",
          "format": null,
          "enum": [
            "CALL_STATUS_UNSPECIFIED",
            "CALL_STARTED",
            "CALL_MISSED",
            "CALL_ENDED"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Indicates that the call has started.",
            "Indicates that the call is missed.",
            "Indicates that the call has ended."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCallMetadata": {
      "id": "AppsDynamiteSharedCallMetadata",
      "description": "Metadata required to generate call artifacts. This can either be the metadata for a Meet or, in the future, Google Voice call.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "meetMetadata": {
          "description": "Metadata specific for the Meet call.",
          "$ref": "AppsDynamiteSharedMeetMetadata"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCardClickSuggestion": {
      "id": "AppsDynamiteSharedCardClickSuggestion",
      "description": "Card click which identifies one suggestion provided by the app/bot.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "actionId": {
          "description": "Identify the button/action that created the suggestion. A simple example would be a card button within the stream, or the id which can identify a specific suggestion.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "suggestionMessageId": {
          "description": "The message_id for the message that was posted by the app/bot.",
          "$ref": "MessageId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItem": {
      "id": "AppsDynamiteSharedChatItem",
      "description": "Next Id: 5",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "activityInfo": {
          "description": "Information needed to render the specific type of feed item.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppsDynamiteSharedChatItemActivityInfo"
          }
        },
        "groupInfo": {
          "description": "Only populated on read path and should not be persisted in storage.",
          "$ref": "AppsDynamiteSharedChatItemGroupInfo"
        },
        "messageInfo": {
          "description": "Additional information about the original chat message that isn't captured in the top-level message proto.",
          "$ref": "AppsDynamiteSharedMessageInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItemActivityInfo": {
      "id": "AppsDynamiteSharedChatItemActivityInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "feedItemNudge": {
          "description": null,
          "$ref": "AppsDynamiteSharedChatItemActivityInfoFeedItemNudge"
        },
        "feedItemReactions": {
          "description": null,
          "$ref": "AppsDynamiteSharedChatItemActivityInfoFeedItemReactions"
        },
        "feedItemThreadReply": {
          "description": null,
          "$ref": "AppsDynamiteSharedChatItemActivityInfoFeedItemThreadReply"
        },
        "feedItemUserMention": {
          "description": null,
          "$ref": "AppsDynamiteSharedChatItemActivityInfoFeedItemUserMention"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItemActivityInfoFeedItemNudge": {
      "id": "AppsDynamiteSharedChatItemActivityInfoFeedItemNudge",
      "description": "Existence of this attribute indicates that the AF item is for a message nudge item.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nudgeType": {
          "description": "Nudge type of the nudge feed item.",
          "type": "string",
          "format": null,
          "enum": [
            "UNDEFINED",
            "REPLY",
            "FOLLOW_UP"
          ],
          "enumDescriptions": [
            "",
            "The message receiver is nudged since the message may require a reply.",
            "The message creator is nudged since the message may require a follow-up."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItemActivityInfoFeedItemReactions": {
      "id": "AppsDynamiteSharedChatItemActivityInfoFeedItemReactions",
      "description": "Existence of this attribute indicates that the AF item is for message reactions, but it is intentionally left empty since the list of reactions can be found in the top-level Message.Reactions.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItemActivityInfoFeedItemThreadReply": {
      "id": "AppsDynamiteSharedChatItemActivityInfoFeedItemThreadReply",
      "description": "Existence of this attribute indicates that the AF item is for thread reply.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "replyType": {
          "description": "Reply type of the thread reply feed item. The field is not persisted in storage. It's populated when constructing Activity Feed payload.",
          "type": "string",
          "format": null,
          "enum": [
            "UNSPECIFIED",
            "ROOT",
            "FOLLOWER"
          ],
          "enumDescriptions": [
            "",
            "The thread reply feed item is for the root message poster.",
            "The thread reply feed item is for a thread follower who's not the root message poster."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItemActivityInfoFeedItemUserMention": {
      "id": "AppsDynamiteSharedChatItemActivityInfoFeedItemUserMention",
      "description": "Existence of this attribute indicates that the AF item is for a user mention item.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "type": {
          "description": "User mention type",
          "type": "string",
          "format": null,
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIRECT",
            "ALL"
          ],
          "enumDescriptions": [
            "Mention type not specified.",
            "Mentioned directly by name.",
            "Mentioned by @all."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedChatItemGroupInfo": {
      "id": "AppsDynamiteSharedChatItemGroupInfo",
      "description": "Information about the space that the item originated from. This will be used to display Activity Feed items from rooms, and only contain the necessary information, such as the space name and group attributes. NEXT TAG: 6",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "attributeCheckerGroupType": {
          "description": "This is needed to determine what type of group the source message came from to support click-to-source.",
          "type": "string",
          "format": null,
          "enum": [
            "ATTRIBUTE_CHECKER_GROUP_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_HUMAN_DM",
            "ONE_TO_ONE_BOT_DM",
            "IMMUTABLE_MEMBERSHIP_GROUP_DM",
            "FLAT_ROOM",
            "THREADED_ROOM",
            "IMMUTABLE_MEMBERSHIP_HUMAN_DM",
            "POST_ROOM",
            "ACTIVITY_FEED"
          ],
          "enumDescriptions": [
            "LINT.IfChange",
            "A 1:1 DM that has two human users. Deprecated. Use IMMUTABLE_MEMBERSHIP_HUMAN_DM instead.",
            "A 1:1 DM between a human user and a bot.",
            "A group DM that has multiple human users with immutable group membership. Deprecated. Use IMMUTABLE_MEMBERSHIP_HUMAN_DM instead.",
            "A flat room that contains a single thread.",
            "A threaded room. Topics in this room are threaded, and users can reply to any topic.",
            "A DM with immutable group membership. It can be a 1:1 DM or a group DM with multiple human users.",
            "A post room. Topics in this room are organized in a post/reply style. See the design doc for more details: go/PostRoomsInDynamite. Deprecated. Post rooms are no longer supported.",
            "Represents an Activity Feed space. These groups are modeled like flat rooms and contain items for users to catch up on important things. Each user should only have one group of this type. See go/activity-feed. Deprecated: The go/activity-feed project is cancelled and this should no longer be used. LINT.ThenChange(//depot/google3/logs/proto/apps_dynamite/dynamite_visual_element_entry.proto:LoggingGroupType,//depot/google3/java/com/google/apps/dynamite/v1/web/ui/group/groups.js:LoggingGroupType)"
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "groupName": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "groupReadTimeUsec": {
          "description": "Timestamp of when the group containing the message has been read by the user.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "inlineThreadingEnabled": {
          "description": "Indicates whether the group has inline replies enabled. If enabled, clients will render the space with inline replies.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedContentReportType": {
      "id": "AppsDynamiteSharedContentReportType",
      "description": "Denotes a type of content report a user can send.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "systemViolation": {
          "description": "Required. Google-defined system violation, covering the most common violations.",
          "type": "string",
          "format": null,
          "enum": [
            "VIOLATION_UNSPECIFIED",
            "HARASSMENT",
            "DISCRIMINATION",
            "EXPLICIT_CONTENT",
            "SPAM",
            "CONFIDENTIAL_INFORMATION",
            "SENSITIVE_INFORMATION",
            "FRAUD",
            "MALWARE",
            "ILLEGAL_ACTIVITIES",
            "OTHER"
          ],
          "enumDescriptions": [
            "Default value if unset. Do not use directly. This value should not appear as a selectable violation during content reporting.",
            "\"Harassment, offensive, or rude behavior\"",
            "\"Discrimination or harmful stereotypes against anyone, including protected groups\"",
            "\"Explicit content that's graphic, violent, or otherwise inappropriate\"",
            "\"Spam\"",
            "\"Confidential information\"",
            "\"Sensitive information\"",
            "Phishing, impersonation/misrepresentation, or deceiving other users into sharing information under false pretenses.",
            "Malware, viruses, Trojan horses, corrupted files, destructive code, etc.",
            "Promoting, organizing, or engaging in illegal activities.",
            "\"Something else\""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedCustomEmoji": {
      "id": "AppsDynamiteSharedCustomEmoji",
      "description": "Proto representation of a custom emoji. May be used in both APIs and in Spanner, but certain fields should be restricted to one or the other. See the per-field documentation for details. NEXT_TAG: 14",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "blobId": {
          "description": "ID for the underlying image data in Blobstore. This field should *only* be present in Spanner or within the server, but should not be exposed in public APIs.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "contentType": {
          "description": "Content type of the file used to upload the emoji. Used for takeout. Written to Spanner when the emoji is created.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "createTimeMicros": {
          "description": "Time when the Emoji was created, in microseconds. This field may be present in Spanner, within the server, or in public APIs.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "creatorUserId": {
          "description": "This field should *never* be persisted to Spanner.",
          "$ref": "UserId"
        },
        "deleteTimeMicros": {
          "description": "Time when the emoji was deleted, in microseconds. This field may be present in Spanner, within the server, or in public APIs. Only present if the emoji has been deleted.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ephemeralUrl": {
          "description": "Output only. A short-lived URL clients can use for directly accessing a custom emoji image. This field is intended for API consumption, and should *never* be persisted to Spanner.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "ownerCustomerId": {
          "description": "This field should *never* be persisted to Spanner.",
          "$ref": "CustomerId"
        },
        "readToken": {
          "description": "Opaque token that clients use to construct the URL for accessing the custom emoji’s image data. This field is intended for API consumption, and should *never* be persisted to Spanner.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "shortcode": {
          "description": "User-provided, human-readable ID for the custom emoji. Users are expected to observe this field in the UI instead of the UUID. This shortcode should be unique within an organization, but has no global uniqueness guarantees, unlike the UUID. This field should *never* be persisted to Spanner.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Snapshot of the current state of the emoji, which may differ from the source-of-truth in the CustomEmojis table. This field should *never* be persisted to Spanner.",
          "type": "string",
          "format": null,
          "enum": [
            "EMOJI_STATE_UNSPECIFIED",
            "EMOJI_ENABLED",
            "EMOJI_SYSTEM_DISABLED",
            "EMOJI_HIDDEN",
            "EMOJI_DELETED"
          ],
          "enumDescriptions": [
            "",
            "Emoji is visible and available to be used, subject to access control requirements.",
            "Emoji can no longer be used (e.g. due to a shortcode conflict), but is not removed from existing embeddings.",
            "Emoji is hidden from pickers, so new usages are not allowed, but is not removed from existing embeddings.",
            "Emoji is removed everywhere and is not available to end-users."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateTimeMicros": {
          "description": null,
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "uuid": {
          "description": "Unique key for a custom emoji resource. Required. This field is *always* populated.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedDimension": {
      "id": "AppsDynamiteSharedDimension",
      "description": "Dimension for the uploaded attachments.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "height": {
          "description": null,
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "width": {
          "description": null,
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedDlpMetricsMetadata": {
      "id": "AppsDynamiteSharedDlpMetricsMetadata",
      "description": "LINT.IfChange",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "dlpStatus": {
          "description": "[required] Describes the DLP status of message send and attachment upload events.",
          "type": "string",
          "format": null,
          "enum": [
            "DLP_STATUS_UNKNOWN",
            "DLP_DISABLED",
            "DLP_ENABLED_NO_RULE_FETCH",
            "DLP_ENABLED_RULES_FETCHED_NO_RULES",
            "DLP_ENABLED_RULES_FETCHED_NO_APPLICABLE_RULES",
            "DLP_ENABLED_RULES_FETCHED_AND_EVALUATED",
            "DLP_ENABLED_SCAN_TIMEOUT",
            "DLP_ENABLED_SCAN_FAILED"
          ],
          "enumDescriptions": [
            "",
            "Rule fetch and evaluation are skipped because DLP experiment is not enabled.",
            "Rule fetch and evaluation are skipped because there is no rule to be fetched (e.g. message is sent from a consumer, or there is no message.)",
            "Rule fetch happened, but rule evalution is skipped because the fetch returned no rules.",
            "Rule fetch happened, but rule evaluation is skipped because none of the rules are applicable.",
            "Rule fetch and evaluation were performed and completed successfully.",
            "DLP scan was attempted but timed out.",
            "Generic DLP failure. This case covers any other errors/exceptions in the Chat backend that caused the DLP scan to fail."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedDocument": {
      "id": "AppsDynamiteSharedDocument",
      "description": "Data for rendering a document.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "fileId": {
          "description": "Unique file ID.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "justification": {
          "description": "Justification to explain why this document is being suggested.",
          "$ref": "AppsDynamiteSharedJustification"
        },
        "lastModifiedTime": {
          "description": "Time the document was last modified.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "mimeType": {
          "description": "Used to determine which icon to render (e.g. docs, slides, sheets)",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "title": {
          "description": "Title of the document.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "url": {
          "description": "URL of the document.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedEmoji": {
      "id": "AppsDynamiteSharedEmoji",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "customEmoji": {
          "description": "A custom emoji.",
          "$ref": "AppsDynamiteSharedCustomEmoji"
        },
        "unicode": {
          "description": "A basic emoji represented by a unicode string.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedFindDocumentSuggestion": {
      "id": "AppsDynamiteSharedFindDocumentSuggestion",
      "description": "Data for a FindDocument suggestion type.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "documentSuggestions": {
          "description": "List of documents to render as suggestions.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "AppsDynamiteSharedDocument"
          }
        },
        "showActionButtons": {
          "description": "Whether to show the action buttons in the card for the suggestions.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedGroupDetails": {
      "id": "AppsDynamiteSharedGroupDetails",
      "description": "NEXT TAG: 3 A GroupDetails proto will store the information pertaining to single Group.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "A simple text that describes the purpose of a single Group, the general theme of the topics to be posted and/or the denominator of the Group participants.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "guidelines": {
          "description": "A simple text describing the rules and expectations from members when participating in conversation.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedGroupVisibility": {
      "id": "AppsDynamiteSharedGroupVisibility",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "state": {
          "description": null,
          "type": "string",
          "format": null,
          "enum": [
            "UNKNOWN",
            "PRIVATE",
            "PUBLIC"
          ],
          "enumDescriptions": [
            "Do not use.",
            "Explicitly invited users may join the room.",
            "Anyone in the domain may join the room."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedJustification": {
      "id": "AppsDynamiteSharedJustification",
      "description": "Data for rendering a justification for a document.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "actionTime": {
          "description": "Time the action took place.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "actionType": {
          "description": "Type of action performed on the document.",
          "type": "string",
          "format": null,
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "COMMENTED",
            "CREATED",
            "EDITED",
            "PRESENTED",
            "SHARED",
            "VIEWED",
            "COMMENT_RESOLVED",
            "SENT"
          ],
          "enumDescriptions": [
            "Unspecified action.",
            "Commented on document.",
            "Created document.",
            "Edited document.",
            "Presented document.",
            "Shared document.",
            "Viewed document.",
            "Resolved comment on document.",
            "Sent document over chat/email."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "documentOwner": {
          "description": "Owner of the document.",
          "$ref": "AppsDynamiteSharedJustificationPerson"
        },
        "topics": {
          "description": "Words or phrases from the user's query that describes the document content. (Ex: Users query is \"Can you share the document about Bullseye?\" the extracted topic would be \"Bullseye\").",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedJustificationPerson": {
      "id": "AppsDynamiteSharedJustificationPerson",
      "description": "Data for rendering a person associated with a document.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "isRecipient": {
          "description": "Whether the person is the recipient of the suggestions.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "user": {
          "description": "Obfuscated user ID.",
          "$ref": "UserId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedMeetMetadata": {
      "id": "AppsDynamiteSharedMeetMetadata",
      "description": "Metadata specific for a Meet call that are required to generate call artifacts.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "meetingCode": {
          "description": "Required. A globally unique code (e.g. \"cxv-zbgj-wzw\") that points to a meeting space. Note: Meeting codes may be regenerated, which will cause old meeting codes to become invalid.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "meetingUrl": {
          "description": "Required. A URL, in the format \"https://meet.google.com/*\" (e.g. https://meet.google.com/cxv-zbgj-wzw), to identify and access the meeting space.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedMessageInfo": {
      "id": "AppsDynamiteSharedMessageInfo",
      "description": "Information that references a Dynamite chat message. This is only used for Activity Feed messages.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "messageId": {
          "description": "Id of the source chat message. This is kept here because the top-level message ID to refers the AF message ID.",
          "$ref": "MessageId"
        },
        "messageType": {
          "description": "The type of the source chat message.",
          "type": "string",
          "format": null,
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "INLINE_REPLY"
          ],
          "enumDescriptions": [
            "Default value where type is not specified.",
            "The source chat message is a threaded reply to another message."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "topicReadTimeUsec": {
          "description": "Timestamp of when the topic containing the message has been read by the user. This is populated if the message references an inline reply, in which case the space may be marked as read but the topic still has unread messages.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedMessageIntegrationPayload": {
      "id": "AppsDynamiteSharedMessageIntegrationPayload",
      "description": "The payload(restricted to 1P applications) to be stored with a specific message.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "projectNumber": {
          "description": "Pantheon project number used to identify the calling app.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "tasksMessageIntegrationPayload": {
          "description": null,
          "$ref": "AppsDynamiteSharedTasksMessageIntegrationPayload"
        },
        "type": {
          "description": "An enum indicating which 1P application's payload this is. This field is required to add 1P payload.",
          "type": "string",
          "format": null,
          "enum": [
            "PAYLOAD_TYPE_UNSPECIFIED",
            "TASKS"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedOrganizationInfo": {
      "id": "AppsDynamiteSharedOrganizationInfo",
      "description": "Contains info about the entity that something is, or is owned by.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "consumerInfo": {
          "description": null,
          "$ref": "AppsDynamiteSharedOrganizationInfoConsumerInfo"
        },
        "customerInfo": {
          "description": null,
          "$ref": "AppsDynamiteSharedOrganizationInfoCustomerInfo"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedOrganizationInfoConsumerInfo": {
      "id": "AppsDynamiteSharedOrganizationInfoConsumerInfo",
      "description": "Intentionally empty. Used to disambiguate consumer and customer use cases in oneof below.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedOrganizationInfoCustomerInfo": {
      "id": "AppsDynamiteSharedOrganizationInfoCustomerInfo",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "customerId": {
          "description": null,
          "$ref": "CustomerId"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedOriginAppSuggestion": {
      "id": "AppsDynamiteSharedOriginAppSuggestion",
      "description": "Stores the suggestion provided by apps/bots.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "appId": {
          "description": null,
          "$ref": "AppId"
        },
        "cardClickSuggestion": {
          "description": null,
          "$ref": "AppsDynamiteSharedCardClickSuggestion"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedPhoneNumber": {
      "id": "AppsDynamiteSharedPhoneNumber",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "type": {
          "description": "The phone number type, e.g., work, mobile, etc.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "value": {
          "description": "The actual phone number.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "AppsDynamiteSharedReaction": {
      "id": "AppsDynamiteSharedReaction",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "count": {
          "description": "The total number of users who have reacted.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
[...]
