{
  "kind": "discovery#restDescription",
  "etag": null,
  "discoveryVersion": "v1",
  "id": "paymentsresellersubscription:v1",
  "name": "paymentsresellersubscription",
  "canonicalName": "Payments Reseller Subscription",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "revision": "20230131",
  "title": "Payments Reseller Subscription API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/payments/reseller/subscription/",
  "protocol": "rest",
  "baseUrl": "https://paymentsresellersubscription.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://paymentsresellersubscription.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "packagePath": null,
  "labels": null,
  "features": null,
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "repeated": false
    },
    "access_token": {
      "description": "OAuth access token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "repeated": false
    },
    "callback": {
      "description": "JSONP",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "required": false,
      "type": "boolean",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "default": null,
      "location": "query",
      "required": false,
      "type": "string",
      "format": null,
      "minimum": null,
      "maximum": null,
      "pattern": null,
      "enum": [],
      "enumDescriptions": [],
      "repeated": false
    }
  },
  "auth": null,
  "schemas": {
    "GoogleCloudPaymentsResellerSubscriptionV1Amount": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Amount",
      "description": "Describes the amount unit including the currency code.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "amountMicros": {
          "description": "Required. Amount in micros (1_000_000 micros = 1 currency unit)",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "currencyCode": {
          "description": "Required. Currency codes in accordance with [ISO-4217 Currency Codes] (https://en.wikipedia.org/wiki/ISO_4217). For example, USD.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cancelImmediately": {
          "description": "Optional. If true, Google will cancel the subscription immediately, and may or may not (based on the contract) issue a prorated refund for the remainder of the billing cycle. Otherwise, Google defers the cancelation at renewal_time, and will not issue a refund.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "cancellationReason": {
          "description": "Specifies the reason for the cancellation.",
          "type": "string",
          "format": null,
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "subscription": {
          "description": "The cancelled subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Duration": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Duration",
      "description": "Describes the length of a period of a time.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "count": {
          "description": "number of duration units to be included.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "unit": {
          "description": "The unit used for the duration",
          "type": "string",
          "format": null,
          "enum": [
            "UNIT_UNSPECIFIED",
            "MONTH",
            "DAY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Unit of a calendar month.",
            "Unit of a day."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest",
      "description": "Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "subscription": {
          "description": "The subscription that has user linked to it.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest",
      "description": "Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "extension": {
          "description": "Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Extension"
        },
        "requestId": {
          "description": "Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cycleEndTime": {
          "description": "The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, \"cycleEndTime\":\"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "freeTrialEndTime": {
          "description": "End of the free trial period, in ISO 8061 format. UTC timezone. Example, \"freeTrialEndTime\":\"2019-08-31T17:28:54.564Z\" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Extension": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Extension",
      "description": "Describes the details of an extension request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "duration": {
          "description": "Specifies the period of access the subscription should grant.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "filter": {
          "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pageSize": {
          "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse",
      "description": "Response containing the found promotions for the current user.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "promotions": {
          "description": "The promotions for the current user.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload",
      "description": "Payload specific to Google One products.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "campaigns": {
          "description": "Campaign attributed to sales of this subscription.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "offering": {
          "description": "The type of offering the subscription was sold by the partner. e.g. VAS.",
          "type": "string",
          "format": null,
          "enum": [
            "OFFERING_UNSPECIFIED",
            "OFFERING_VAS_BUNDLE",
            "OFFERING_VAS_STANDALONE",
            "OFFERING_HARD_BUNDLE",
            "OFFERING_SOFT_BUNDLE"
          ],
          "enumDescriptions": [
            "The type of partner offering is unspecified.",
            "Google One product purchased as a Value added service in addition to existing partner's products. Customer pays additional amount for Google One product.",
            "Google One product purchased by itself by customer as a value add service. Customer pays additional amount for Google One product.",
            "Product purchased as part of a hard bundle where Google One was included with the bundle. Google One pricing is included in the bundle.",
            "Purchased as part of a bundle where Google One was provided as an option. Google One pricing is included in the bundle."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "salesChannel": {
          "description": "The type of sales channel through which the subscription was sold.",
          "type": "string",
          "format": null,
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_RETAIL",
            "CHANNEL_ONLINE_WEB",
            "CHANNEL_ONLINE_ANDROID_APP",
            "CHANNEL_ONLINE_IOS_APP"
          ],
          "enumDescriptions": [
            "The channel type is unspecified.",
            "Sold at store.",
            "Sold through partner website.",
            "Sold through partner android app.",
            "Sold through partner iOS app."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "storeId": {
          "description": "The identifier for the partner store where the subscription was sold.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "products": {
          "description": "The products for the specified partner.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Product"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse",
      "description": null,
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "promotions": {
          "description": "The promotions for the specified partner.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Location": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Location",
      "description": "Describes a location of an end user.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "postalCode": {
          "description": "The postal code this location refers to. Ex. \"94043\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "regionCode": {
          "description": "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Product": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Product",
      "description": "A Product resource that defines a subscription service that can be resold.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "name": {
          "description": "Output only. Response only. Resource name of the product. It will have the format of \"partners/{partner_id}/products/{product_id}\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "priceConfigs": {
          "description": "Output only. Price configs for the product in the available regions.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig"
          }
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "subscriptionBillingCycleDuration": {
          "description": "Output only. Specifies the length of the billing cycle of the subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "titles": {
          "description": "Output only. Localized human readable name of the product.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload",
      "description": "Specifies product specific payload.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "googleOnePayload": {
          "description": "Payload specific to Google One products.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1GoogleOnePayload"
        },
        "youtubePayload": {
          "description": "Payload specific to Youtube products.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ProductPriceConfig",
      "description": "Configs the prices in an available region.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "amount": {
          "description": "Output only. The price in the region.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount"
        },
        "regionCode": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Promotion": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Promotion",
      "description": "A Promotion resource that defines a promotion for a subscription that can be resold.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "applicableProducts": {
          "description": "Output only. The product ids this promotion can be applied to.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "endTime": {
          "description": "Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "freeTrialDuration": {
          "description": "Optional. Specifies the duration of the free trial of the subscription when promotion_type is PROMOTION_TYPE_FREE_TRIAL",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "introductoryPricingDetails": {
          "description": "Optional. Specifies the introductory pricing details when the promotion_type is PROMOTION_TYPE_INTRODUCTORY_PRICING.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
        },
        "name": {
          "description": "Output only. Response only. Resource name of the subscription promotion. It will have the format of \"partners/{partner_id}/promotion/{promotion_id}\"",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "promotionType": {
          "description": "Output only. Output Only. Specifies the type of the promotion.",
          "type": "string",
          "format": null,
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "regionCodes": {
          "description": "Output only. 2-letter ISO region code where the promotion is available in. Ex. \"US\" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "startTime": {
          "description": "Optional. Specifies the start time (inclusive) of the period that the promotion is available in.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "titles": {
          "description": "Output only. Localized human readable name of the promotion.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleTypeLocalizedText"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails",
      "description": "The details of a introductory pricing promotion.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "introductoryPricingSpecs": {
          "description": "Specifies the introductory pricing periods.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec"
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetailsIntroductoryPricingSpec",
      "description": "The duration of an introductory pricing promotion.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "discountAmount": {
          "description": "Output only. The discount amount. The value is positive.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Amount"
        },
        "discountRatioMicros": {
          "description": "Output only. The discount percentage in micros. For example, 50,000 represents 5%.",
          "type": "string",
          "format": "int64",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "recurrenceCount": {
          "description": "Output only. Output Only. The duration of an introductory offer in billing cycles.",
          "type": "integer",
          "format": "int32",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "regionCode": {
          "description": "Output only. 2-letter ISO region code where the product is available in. Ex. \"US\".",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod",
      "description": "A description of what time period or moment in time the product or service is being delivered over.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "endTime": {
          "description": "Optional. The end time of the service period. Time is exclusive.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "startTime": {
          "description": "Required. The start time of the service period. Time is inclusive.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1Subscription": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1Subscription",
      "description": "A Subscription resource managed by 3P Partners.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "cancellationDetails": {
          "description": "Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails"
        },
        "createTime": {
          "description": "Output only. System generated timestamp when the subscription is created. UTC timezone.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "cycleEndTime": {
          "description": "Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "endUserEntitled": {
          "description": "Output only. Indicates if the subscription is entitled to the end user.",
          "type": "boolean",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "freeTrialEndTime": {
          "description": "Output only. End of the free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lineItems": {
          "description": "Required. The line items of the subscription.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem"
          }
        },
        "name": {
          "description": "Optional. Resource name of the subscription. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\". This is available for authorizeAddon, but otherwise is response only.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "partnerUserToken": {
          "description": "Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "processingState": {
          "description": "Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "type": "string",
          "format": null,
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PROCESSING_STATE_CANCELLING",
            "PROCESSING_STATE_RECURRING"
          ],
          "enumDescriptions": [
            "The processing state is unspecified.",
            "The subscription is being cancelled.",
            "The subscription is recurring."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "products": {
          "description": "Required. Deprecated: consider using `line_items` as the input. Required. Resource name that identifies the purchased products. The format will be 'partners/{partner_id}/products/{product_id}'.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "promotionSpecs": {
          "description": "Optional. Subscription-level promotions. Only free trial is supported on this level. It determines the first renewal time of the subscription to be the end of the free trial period. Specify the promotion resource name only when used as input.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          }
        },
        "promotions": {
          "description": "Optional. Deprecated: consider using the top-level `promotion_specs` as the input. Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        },
        "redirectUri": {
          "description": "Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "renewalTime": {
          "description": "Output only. The time at which the subscription is expected to be renewed by Google - a new charge will be incurred and the service entitlement will be renewed. A non-immediate cancellation will take place at this time too, before which, the service entitlement for the end user will remain valid. UTC timezone in ISO 8061 format. For example: \"2019-08-31T17:28:54.564Z\"",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "serviceLocation": {
          "description": "Required. The location that the service is provided as indicated by the partner.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Location"
        },
        "state": {
          "description": "Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).",
          "type": "string",
          "format": null,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATED",
            "STATE_ACTIVE",
            "STATE_CANCELLED",
            "STATE_IN_GRACE_PERIOD",
            "STATE_CANCEL_AT_END_OF_CYCLE",
            "STATE_SUSPENDED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The subscription is created, a state before it is moved to STATE_ACTIVE.",
            "The subscription is active.",
            "The subscription is cancelled.",
            "The subscription has not been extended by the partner after the end of current cycle.",
            "The subscription is waiting to be cancelled by the next recurrence cycle.",
            "The subscription is suspended."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "updateTime": {
          "description": "Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "upgradeDowngradeDetails": {
          "description": "Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails",
      "description": "Describes the details of a cancelled or cancelling subscription.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "reason": {
          "description": "The reason of the cancellation.",
          "type": "string",
          "format": null,
          "enum": [
            "CANCELLATION_REASON_UNSPECIFIED",
            "CANCELLATION_REASON_FRAUD",
            "CANCELLATION_REASON_REMORSE",
            "CANCELLATION_REASON_ACCIDENTAL_PURCHASE",
            "CANCELLATION_REASON_PAST_DUE",
            "CANCELLATION_REASON_ACCOUNT_CLOSED",
            "CANCELLATION_REASON_UPGRADE_DOWNGRADE",
            "CANCELLATION_REASON_USER_DELINQUENCY",
            "CANCELLATION_REASON_OTHER"
          ],
          "enumDescriptions": [
            "Reason is unspecified.",
            "Fraudualant transaction.",
            "Buyer's remorse.",
            "Accidential purchase.",
            "Payment is past due.",
            "User account closed.",
            "Used for notification only, do not use in Cancel API. Cancellation due to upgrade or downgrade.",
            "Cancellation due to user delinquency",
            "Other reason."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItem",
      "description": "Individual line item definition of a subscription.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "description": {
          "description": "Output only. Description of this line item.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lineItemFreeTrialEndTime": {
          "description": "Output only. It is set only if the line item has its own free trial applied. End time of the line item free trial period, in ISO 8061 format. For example, \"2019-08-31T17:28:54.564Z\". It will be set the same as createTime if no free trial promotion is specified.",
          "type": "string",
          "format": "google-datetime",
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "lineItemPromotionSpecs": {
          "description": "Optional. The promotions applied on the line item. It can be: - a free trial promotion, which overrides the subscription-level free trial promotion. - an introductory pricing promotion. When used as input in Create or Provision API, specify its resource name only.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec"
          }
        },
        "oneTimeRecurrenceDetails": {
          "description": "Output only. Details only set for a ONE_TIME recurrence line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails"
        },
        "product": {
          "description": "Required. Product resource name that identifies one the line item The format is 'partners/{partner_id}/products/{product_id}'.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "productPayload": {
          "description": "Optional. Product specific payload for this line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ProductPayload"
        },
        "recurrenceType": {
          "description": "Output only. The recurrence type of the line item.",
          "type": "string",
          "format": null,
          "enum": [
            "LINE_ITEM_RECURRENCE_TYPE_UNSPECIFIED",
            "LINE_ITEM_RECURRENCE_TYPE_PERIODIC",
            "LINE_ITEM_RECURRENCE_TYPE_ONE_TIME"
          ],
          "enumDescriptions": [
            "The line item recurrence type is unspecified.",
            "The line item recurs periodically.",
            "The line item does not recur in the future."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "state": {
          "description": "Output only. The state of the line item.",
          "type": "string",
          "format": null,
          "enum": [
            "LINE_ITEM_STATE_UNSPECIFIED",
            "LINE_ITEM_STATE_ACTIVE",
            "LINE_ITEM_STATE_INACTIVE",
            "LINE_ITEM_STATE_NEW",
            "LINE_ITEM_STATE_ACTIVATING",
            "LINE_ITEM_STATE_DEACTIVATING",
            "LINE_ITEM_STATE_WAITING_TO_DEACTIVATE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The line item is in ACTIVE state.",
            "The line item is in INACTIVE state.",
            "The line item is new, and is not activated or charged yet.",
            "The line item is being activated in order to be charged. If a free trial applies to the line item, the line item is pending a prorated charge at the end of the free trial period, as indicated by `line_item_free_trial_end_time`.",
            "The line item is being deactivated, and a prorated refund in being processed.",
            "The line item is scheduled to be deactivated at the end of the current cycle."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionLineItemOneTimeRecurrenceDetails",
      "description": "Details for a ONE_TIME recurrence line item.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "servicePeriod": {
          "description": "The service period of the ONE_TIME line item.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ServicePeriod"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionPromotionSpec",
      "description": "Describes the spec for one promotion.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "freeTrialDuration": {
          "description": "Output only. The duration of the free trial if the promotion is of type FREE_TRIAL.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Duration"
        },
        "introductoryPricingDetails": {
          "description": "Output only. The details of the introductory pricing spec if the promotion is of type INTRODUCTORY_PRICING.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1PromotionIntroductoryPricingDetails"
        },
        "promotion": {
          "description": "Required. Promotion resource name that identifies a promotion. The format is 'partners/{partner_id}/promotions/{promotion_id}'.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "type": {
          "description": "Output only. The type of the promotion for the spec.",
          "type": "string",
          "format": null,
          "enum": [
            "PROMOTION_TYPE_UNSPECIFIED",
            "PROMOTION_TYPE_FREE_TRIAL",
            "PROMOTION_TYPE_INTRODUCTORY_PRICING"
          ],
          "enumDescriptions": [
            "The promotion type is unspecified.",
            "The promotion is a free trial.",
            "The promotion is a reduced introductory pricing."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails",
      "description": "Details about the previous subscription that this new subscription upgrades/downgrades from.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "billingCycleSpec": {
          "description": "Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.",
          "type": "string",
          "format": null,
          "enum": [
            "BILLING_CYCLE_SPEC_UNSPECIFIED",
            "BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION",
            "BILLING_CYCLE_SPEC_START_IMMEDIATELY"
          ],
          "enumDescriptions": [
            "Billing cycle spec is not specified.",
            "The billing cycle of the new subscription aligns with the previous subscription it upgrades or downgrades from.",
            "The billing cycle of the new subscription starts immediately."
          ],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "previousSubscriptionId": {
          "description": "Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest",
      "description": "Request to revoke a cancellation request.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {},
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse",
      "description": "Response that contains the updated subscription resource.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "subscription": {
          "description": "The updated subscription resource.",
          "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload": {
      "id": "GoogleCloudPaymentsResellerSubscriptionV1YoutubePayload",
      "description": "Payload specific to Youtube products.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "partnerEligibilityIds": {
          "description": "The list of eligibility_ids which are applicable for the line item.",
          "type": "array",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": {
            "type": "string",
            "format": null,
            "enum": [],
            "enumDescriptions": [],
            "properties": {},
            "additionalProperties": null,
            "items": null
          }
        }
      },
      "additionalProperties": null,
      "items": null
    },
    "GoogleTypeLocalizedText": {
      "id": "GoogleTypeLocalizedText",
      "description": "Localized variant of a text in a particular language.",
      "type": "object",
      "format": null,
      "enum": [],
      "enumDescriptions": [],
      "properties": {
        "languageCode": {
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        },
        "text": {
          "description": "Localized string in the language corresponding to `language_code' below.",
          "type": "string",
          "format": null,
          "enum": [],
          "enumDescriptions": [],
          "properties": {},
          "additionalProperties": null,
          "items": null
        }
      },
      "additionalProperties": null,
      "items": null
    }
  },
  "resources": {
    "partners": {
      "resources": {
        "products": {
          "resources": {},
          "methods": {
            "list": {
              "id": "paymentsresellersubscription.partners.products.list",
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "description": "To retrieve the products that can be resold by the partner. It should be autenticated with a service account.",
              "parameters": {
                "filter": {
                  "description": "Optional. Specifies the filters for the product results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "promotions": {
          "resources": {},
          "methods": {
            "findEligible": {
              "id": "paymentsresellersubscription.partners.promotions.findEligible",
              "path": "v1/{+parent}/promotions:findEligible",
              "httpMethod": "POST",
              "description": "To find eligible promotions for the current user. The API requires user authorization via OAuth. The user is inferred from the authenticated OAuth credential.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1FindEligiblePromotionsResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "list": {
              "id": "paymentsresellersubscription.partners.promotions.list",
              "path": "v1/{+parent}/promotions",
              "httpMethod": "GET",
              "description": "To retrieve the promotions, such as free trial, that can be used by the partner. It should be autenticated with a service account.",
              "parameters": {
                "filter": {
                  "description": "Optional. Specifies the filters for the promotion results. The syntax is defined in https://google.aip.dev/160 with the following caveats: - Only the following features are supported: - Logical operator `AND` - Comparison operator `=` (no wildcards `*`) - Traversal operator `.` - Has operator `:` (no wildcards `*`) - Only the following fields are supported: - `applicableProducts` - `regionCodes` - `youtubePayload.partnerEligibilityId` - `youtubePayload.postalCode` - Unless explicitly mentioned above, other features are not supported. Example: `applicableProducts:partners/partner1/products/product1 AND regionCodes:US AND youtubePayload.postalCode=94043 AND youtubePayload.partnerEligibilityId=eligibility-id`",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageSize": {
                  "description": "Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "integer",
                  "format": "int32",
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "parent": {
                  "description": "Required. The parent, the partner that can resell. Format: partners/{partner}",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        },
        "subscriptions": {
          "resources": {},
          "methods": {
            "cancel": {
              "id": "paymentsresellersubscription.partners.subscriptions.cancel",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "description": "Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to be cancelled. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "create": {
              "id": "paymentsresellersubscription.partners.subscriptions.create",
              "path": "v1/{+parent}/subscriptions",
              "httpMethod": "POST",
              "description": "Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "entitle": {
              "id": "paymentsresellersubscription.partners.subscriptions.entitle",
              "path": "v1/{+name}:entitle",
              "httpMethod": "POST",
              "description": "Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource that is entitled to the current end user. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "extend": {
              "id": "paymentsresellersubscription.partners.subscriptions.extend",
              "path": "v1/{+name}:extend",
              "httpMethod": "POST",
              "description": "[Deprecated] New partners should be on auto-extend by default. Used by partners to extend a subscription service for their customers on an ongoing basis for the subscription to remain active and renewable. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to be extended. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\".",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "get": {
              "id": "paymentsresellersubscription.partners.subscriptions.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource to retrieve. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": null,
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "provision": {
              "id": "paymentsresellersubscription.partners.subscriptions.provision",
              "path": "v1/{+parent}/subscriptions:provision",
              "httpMethod": "POST",
              "description": "Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which is the identifier of the partner. It will have the format of \"partners/{partner_id}\".",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                },
                "subscriptionId": {
                  "description": "Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.",
                  "default": null,
                  "location": "query",
                  "required": false,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": null,
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1Subscription"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            },
            "undoCancel": {
              "id": "paymentsresellersubscription.partners.subscriptions.undoCancel",
              "path": "v1/{+name}:undoCancel",
              "httpMethod": "POST",
              "description": "Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of \"partners/{partner_id}/subscriptions/{subscription_id}\"",
                  "default": null,
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": null,
                  "minimum": null,
                  "maximum": null,
                  "pattern": "^partners/[^/]+/subscriptions/[^/]+$",
                  "enum": [],
                  "enumDescriptions": [],
                  "repeated": false
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
              },
              "response": {
                "$ref": "GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
              },
              "scopes": [],
              "supportsMediaDownload": false,
              "useMediaDownloadService": false,
              "supportsSubscription": false,
              "supportsMediaUpload": false,
              "mediaUpload": null
            }
          }
        }
      },
      "methods": {}
    }
  },
  "methods": {}
}